[2017-07-21 18:57] RikiSjachrani-COM opened #1 "Setup GitHub for Development Team 2"
This project is for the initial setup and configuration of GitHub for Development Team 2. It will also include the transfer of existing repositories from the public city of madison accela to this.

To Dos:

- [ ] Invite Team members - suggest the profile naming convention of FirstLast-COM

[2017-07-21 19:45] RikiSjachrani-COM opened #2 "SR-17-0000280 Restaurant Class Billing Project"
Reference
# [Onenote](onenote:///\\fps1\data1\Information%20Technology\Applications%20and%20Systems\Accela\Active%20Projects\Engineering%20Sanitary%20Permit%20and%20Rest%20Class%20Billing\Specifications\Restaurant%20Class%20Billing%20Project%20Reference%20Information.one#section-id={27182D04-3C95-4AAF-887B-5163EFC46C92}&end)

This is located at: F:\Information Technology\Applications and Systems\A

[2017-07-24 20:35] RikiSjachrani-COM commented on #1
@MohammadWalizada-COM @KimGrittner-COM @JaneSchneider-COM thanks for creating an account and setting your account names as suggested

[2017-07-25 19:32] RikiSjachrani-COM commented on #1
@KimGrittner-COM Did you enjoy the lunch?

[2017-07-25 19:35] RikiSjachrani-COM commented on #1
![image](https://user-images.githubusercontent.com/13784495/28590085-71cedca6-7146-11e7-9d86-e84bb34e0b72.png)

[2017-07-26 17:13] RikiSjachrani-COM opened #3 "SR-17-0000206 FD Elevator Guide sheet and Workflow Process revisit"
FD Elevator Guide sheet and Workflow Process revisit - Fire would like to modify the workflow of the fire elevator records to be closer to routine inspections.

Reference
\\Fps1\data1\Information Technology\Applications and Systems\Accela\Active Projects\Elevator Guide sheet and Workflow Process revisit

Tasks
- [x] Assign to Jane and Kim
- [ ] Scripting
- [ ] Configuration

[2017-07-26 18:01] RikiSjachrani-COM commented on #3
@JaneSchneider-COM if we could possibly meet earlier that would work, this kind of jumped up on the priorities list.

[2017-07-26 18:08] JaneSchneider-COM commented on #3
@RikiSjachrani-COM  I'm leaving now for my appointment. I should be back by 2:30p, possibly earlier. We can meet as sooon as I return.

[2017-07-26 19:00] KimGrittner-COM commented on #3
I am available anytime this afternoon as well.

[2017-07-26 19:49] RikiSjachrani-COM commented on #3
Can you please install from \\sccm\packages\One Note 2013

[2017-07-31 21:05] RikiSjachrani-COM opened #4 "Accela Version 9 Upgrade"
To Do or noted in a meeting

- [ ] Check SSRS with Version 9
- [ ] Check Communication Manager with newer version of Exchange and see if we can pull in emails
- [ ] Accela Mobile Office check if the deleting of old data profile resolves the issue with unhandled exceptions with Windows 10

[2017-07-31 21:12] RikiSjachrani-COM opened #5 "Map Layers Parcel and Planning Parcels undefined"
The issue with when identifying or selecting an object from the Parcel or Planning Parcel layers, the Key field 'Parcel', will display as 'Undefined'

[Dev map test](http://elam73dev.cityofmadison.com/agis/?madison)

[2017-07-31 21:22] RikiSjachrani-COM commented on #5
Trying to view a parcel and I'm just getting the following

![image](https://user-images.githubusercontent.com/13784495/28799033-71204c2a-760c-11e7-8215-a6b646c3bd81.png)

[2017-07-31 21:26] RikiSjachrani-COM commented on #4
@PaulOLeary-COM I just realized the error I was getting was specific to windows 10 creators edition and AMO version 9, so it is very possible you did not get the error messages when you tried

[2017-08-01 15:57] RikiSjachrani-COM opened #6 "SR-17-0000285 Food and Drink AMO Guidesheet Update"
HE Updates to the Food and Drink guidesheet and related reports - Health is having to update the terms and language used when they are inspecting and noting Food and Drink inspections. This will mean modifications to their existing checklists and reports.

## Questions
- [x] Reports were using the code in front of the checklist items for grouping, but now the new items do not have them there. Exam

[2017-08-01 16:25] RikiSjachrani-COM commented on #6
We should figure out scheduling for this

![image](https://user-images.githubusercontent.com/13784495/28835696-e538b6fc-76ab-11e7-9a40-3cd584723cca.png)

Jackie is out 8/28 thru 9/5 (or 6)

Just go through and decide what is reasonable

Labor day weekend is Taste of Madison so they may not be able to test the week before?

[2017-08-01 17:46] RikiSjachrani-COM commented on #3
@KimGrittner-COM and @JaneSchneider-COM @ do you want to meet more on this, is this progressing since we last met?

[2017-08-01 17:55] JaneSchneider-COM commented on #3
@RikiSjachrani-COM: @KimGrittner-COM and I are meeting at 1:30pm to discuss things. I was planning to start work on the scripting today, as I did not have time last week. Feel free to join us for meeting if you are available and so inclined.

[2017-08-01 18:17] KimGrittner-COM opened #7 "Configuration of Elevator Inspection"
Jane and I will review configuration at 1:30 today - see change log below:
Only question I have is that the FIREELEV has several existing Inspection types (such as "Installation"), do we leave those alone or delete?  (I left them for now)

Change Log on Accela Dev:
1.	Updated AA Admin->Admin Tools->Inspection->Checklist Group
  a.	FIREELEV
  b.	Created FIREELEVREINSP
2.	Created AA Admin->Admin Too

[2017-08-01 18:19] #7 closed

[2017-08-01 18:20] KimGrittner-COM commented on #3
Jane and I will review configuration at 1:30 today - see change log below:
 Only question I have is that the FIREELEV has several existing Inspection types (such as "Installation"), do we leave those alone or delete? (I left them for now)

Change Log on Accela Dev:
1.Updated AA Admin->Admin Tools->Inspection->Checklist Group
 a. FIREELEV
 b. Created FIREELEVREINSP
2.Created AA Admin->Admin Tools->

[2017-08-01 18:32] RikiSjachrani-COM commented on #3
Kim, just leave them for now. I believe Jerry is going to be providing us with additional inspection flow process diagrams that will deal with this

[2017-08-01 18:39] RikiSjachrani-COM commented on #2
@ChrisHagen-COM Megan wanted to get a report to know what records will be affected. I started to create a Adhoc report under the engineering folder. The fields she is looking for is

![image](https://user-images.githubusercontent.com/13784495/28841121-c7191d66-76be-11e7-9573-4bbed650ba63.png)

And the criteria is like this
![image](https://user-images.githubusercontent.com/13784495/28841144-dcba92

[2017-08-01 21:24] RikiSjachrani-COM commented on #2
@ChrisHagen-COM Please let me know if this is something you would have time to work on tomorrow, Megan is going to invite some of the engineering finance folks to discuss this report so I would need it before the end of the day wednesday.

[2017-08-01 21:25] RikiSjachrani-COM commented on #3
You all still working on this? I'm going to try and update the specifications based on the workflow. Let me know if you have any questions

[2017-08-01 21:26] ChrisHagen-COM commented on #2
If it's ok for me to table the Licensed Professional SR-17-000308 work for a day I can work on this tomorrow instead.

[2017-08-01 21:29] JaneSchneider-COM commented on #3
@RikiSjachrani-COM: Not sure what you mean? Please clarify.
@KimGrittner-COM has completed the configurations in dev and I added version 4.0 of the fee schedule. I just getting organized with the scripting.

[2017-08-01 21:33] JaneSchneider-COM commented on #3
@RikiSjachrani-COM: Are you saying the current specs are not valid and that you will be changing them, so I should hold off any working on scripting?

[2017-08-01 21:55] RikiSjachrani-COM commented on #3
@JaneSchneider-COM Take a look at the one note specs, I'm just adding the additional inspection statuses he mentions, particularly the Extension Granted; Citation; etc.. most of these are Pending actions and my changes to specs will not invalidate anything existing.

[2017-08-01 21:58] JaneSchneider-COM commented on #3
@RikiSjachrani-COM : OK, thanks for update.

[2017-08-01 21:59] RikiSjachrani-COM commented on #3
@KimGrittner-COM Kim, below are the changes I made to the specifications, my changes are highlighted and I note them in the workflow diagram that we've been working off of. Please review the one note and make appropriate changes/additions

![image](https://user-images.githubusercontent.com/13784495/28848993-9af83228-76da-11e7-8667-2962056a960e.png)

[2017-08-01 22:00] RikiSjachrani-COM commented on #2
Ok, I hope the report will not take an entire day to complete, since it's just a adhoc report for data. You can decide your priorities for tomorrow and I would just like this report done before the end of the day. Thanks is advance

[2017-08-02 13:06] ChrisHagen-COM commented on #2
I've never actually done an adhoc report. I'll figure it out. :)

[2017-08-02 14:32] RikiSjachrani-COM commented on #2
@BrendenPautsch-COM has done a fair bit with Adhoc report so he can be a resource.

[2017-08-02 14:43] KimGrittner-COM commented on #3
I have made these mods on dev with new Inspection result group data. (Already had named the Inspection Type "First Reinspection")

[2017-08-02 15:53] RikiSjachrani-COM commented on #3
Ok, I'm going to give Jerry a call sometime this afternoon, did you have any questions to bring up with him? There's a big Fire Meeting tomorrow so I want him to know that we are working on this

[2017-08-02 15:55] ChrisHagen-COM commented on #2
Riki,

Can you add the following SQL to Ad-Hoc reports so that I can create a report from this?

[code]

[2017-08-02 16:04] JaneSchneider-COM commented on #3
@RikiSjachrani-COM:  I have questions, but not sure if for Jerry or just for you. I'd like to meet with you today to discuss.

[2017-08-02 16:28] ChrisHagen-COM commented on #2
@RikiSjachrani-COM Hold off on this request a few minutes, I have new sql code that has better names (after reviewing with @BrendenPautsch-COM )

[2017-08-02 16:39] ChrisHagen-COM commented on #2
@RikiSjachrani-COM

Here's a more user friendly query with regards to column names.

[code]

[2017-08-02 16:47] RikiSjachrani-COM commented on #2
Just looking at the sql, I think the only thing that we should add is the contact fields through a different adhoc datasource, since the rest of the data is already available in the HE_HEALTH_ACTIVES view.

The intention of the Adhoc datasource is to be a respository for reporting that includes all the data to be considered, it's not support to be the query itself, that is done in adhoc report.

[2017-08-02 17:35] ChrisHagen-COM commented on #2
So maybe just use the following queries to give the friendly names for the establishment types, then build the adhoc using other existing tables?

[code]

[2017-08-02 17:38] RikiSjachrani-COM commented on #2
Do you have time to meet quick on this? I feel like the the focus should be on getting the report together

[2017-08-02 18:14] RikiSjachrani-COM commented on #2
ok, again, please let me known if you get the expression working or if its taking too long, i did not expect you to spend a couple hours on it already

[2017-08-02 18:59] ChrisHagen-COM commented on #2
To followup,

LIKE
CHARINDEX
LEFT

were all disallowed. Like wasn't recognized, the others specifically said they were disallowed.

The report is done, if it's not something like FRM or FRM0, it may not list the type of business.

Let me know if there are any other changes that need to be made,.

[2017-08-02 20:35] RikiSjachrani-COM commented on #2
Great, I'll take a look at it before sending it off to Megan

[2017-08-02 21:31] BrendenPautsch-COM commented on #6
Added Guidesheet for LIC_FOOD_GRP and vreated the Status group LICFDIO.

Only question, how do we have it default to "null."  Will have to follow up tomorrow with Riki.

[2017-08-03 12:58] JacquelineGoltz-COM commented on #6
I added guidesheet for LIC_FOOD_IONN 2017 and added all four status groups LICFDIO, LICFDIONN , LICFDIONA, LICFDIONO.  All are used on this guidesheet type.

[2017-08-03 13:06] RikiSjachrani-COM commented on #6
@BrendenPautsch-COM the default for all the guide sheet items should be in, see below screen shot

![image](https://user-images.githubusercontent.com/13784495/28923146-9fc2cb3a-7822-11e7-97ab-fd18a0ac35bb.png)

[2017-08-03 13:27] RikiSjachrani-COM commented on #2
Looks good, thanks

[2017-08-03 15:03] RikiSjachrani-COM commented on #3
@JaneSchneider-COM change in scope!!!! the reinspection fees are all full price!!!!!

[2017-08-03 15:23] RikiSjachrani-COM commented on #3
Ok, so I met with Jerry and went over all our questions. A couple changes and a lot of our assumptions are correct. I'll summarize the specification sheets and note where changes are. I made notes in the one note but I need to clarify some things....

[2017-08-03 17:03] RikiSjachrani-COM commented on #2
We are going to have to add the Address Unit to the Health Active data set

![image](https://user-images.githubusercontent.com/13784495/28933714-c6963a78-7843-11e7-901b-4089477e66e4.png)

[2017-08-03 17:04] BrendenPautsch-COM commented on #2
Will DO.

From: Riki Sjachrani [mailto:notifications@github.com]
Sent: Thursday, August 03, 2017 12:04 PM
To: City-of-Madison/Development-Team-2 <Development-Team-2@noreply.github.com>
Cc: Pautsch, Brenden <BPautsch@cityofmadison.com>; Mention <mention@noreply.github.com>
Subject: Re: [City-of-Madison/Development-Team-2] SR-17-0000280 Restaurant Class Billing Project (#2)

We are going to have to

[2017-08-03 17:52] RikiSjachrani-COM commented on #2
I'm asking Beth Cleary whether we can add this field to the Health Actives dataset, please hold any changes until I hear from her

[2017-08-03 19:18] KimGrittner-COM commented on #3
I have moved the configuration stuff from Dev to Test.

[2017-08-03 21:32] BrendenPautsch-COM commented on #6
I started looking at the reports and noticed that information is missing.  The reports were using the code in front of the Text (Old: "06c - IMPROPER HANDWASHING" vs New: "HANDWASHING - IMPROPER).

The 06 meant a violation type of Personal Hygiene.  Now there is no way to tell what violation (out of Compliance) category it belongs to.  We may need to contact Beth for more clarification on to categ

[2017-08-04 15:14] RikiSjachrani-COM commented on #6
I added a section at the top for questions for Beth, when we have a number of them we should setup a meeting to go over them with her

[2017-08-04 17:12] RikiSjachrani-COM commented on #3
@KimGrittner-COM, I'm just going through the configuration changes and everything is looking great! One thing I noticed is the Checklist Item Comment is not visible. This is under each checklist item at the far right under edit, the Comment Visible should be enabled. This is not too apparent from the checklist spreadsheet, but I know when Jerry didn't have a default comment, he still meant to disp

[2017-08-04 21:09] KimGrittner-COM commented on #3
I have finished checking all of the "Comment Visible" checklist items on both dev and test.

[2017-08-07 14:27] BrendenPautsch-COM commented on #6
Talked with Jackie, we cannot move forward on Reporting until the 1st question is answered.  We think we need that meeting to happen soon rather than waiting for a longer list.

Also I believe that both Jackie and I need to have Accela mobile installed on our workstations since many of the Inspectors do everything local (disconnected)

[2017-08-07 15:02] RikiSjachrani-COM commented on #6
ok, I will set up a meeting

[2017-08-07 16:01] RikiSjachrani-COM commented on #6
Sorry, didn't mean to close this. Anyways, it looks like Beth is out on vacation all week so I'll ask Sharon how to approach this. You should be able to install the client from https:\\elam.cityofmadison.com\amo and I'll add the instructions I have from them to setup the rest

[2017-08-07 16:04] RikiSjachrani-COM commented on #6
[AMO PHMDC User Guide.docx](https://github.com/City-of-Madison/Development-Team-2/files/1205389/AMO.PHMDC.User.Guide.docx)

[2017-08-10 21:15] PaulOLeary-COM commented on #4
**1.  Database Migration to SQL Server 2014 (not including SSRS)**
Backup/Restore DBs (Paul):
•	AccelaStage
•	AccelaGISTest
•	AMOTest
•	DaneCountyAPO
•	ELAMSDE
•	jetspeedTest
•	Madison
•	MadisonAccela
•	MadisonAPO ?
•	MadMaps ?
•	Sde_Edit
•	WaterSDE

Update DataSources, connection strings, etc (Paul/Riki/Team) - ELAMSQL1\TESTDEV becomes ELAMDBTEST:
•	Biz/CFMX/Web config files (Paul)
•	SSRS Data So

[2017-08-11 15:11] RikiSjachrani-COM commented on #6
I've setup a meeting to go over this with Beth on Tuesday, she is probably going to be super busy Monday. Did you need any assistance in getting the AMO stuff working? We should look at the reports as well and how I've made changes to it

[2017-08-11 15:35] JacquelineGoltz-COM commented on #6
I have AMO installed and logged in.  I haven't had a chance to look at anything yet.

[2017-08-14 13:15] BrendenPautsch-COM commented on #6
I have installed AMO and I attempted and completed an inspection in test.  The only thing that I was not able to do was run reports.  It kept asking me to install the Crystal add-in

[2017-08-14 20:28] BrendenPautsch-COM commented on #6
I am working on the reports, HealthInspection, I was able to modify the 2 dataset for the report to work with bit the new and old guide sheets.  In Dev, the SSRS report HealthInspectionsNew has been updated.  I used the permit LICFDM-2012-00323 and inspection (Pre-inspection  #2327644 & Routine Inspection:  #2406006) for testing data.

[2017-08-16 17:28] PaulOLeary-COM commented on #4
@RikiSjachrani-COM - With no objections, I'm going to migrate the databases to the 2014 instance (alias name ELAMDBTEST) tonight. Take a look at my list above of DataSources, connection strings, etc. Do you know of any I'm missing? I'll inform the team this afternoon that they need to update their own ODBCs, and can assist them tomorrow as needed.

[2017-08-16 18:58] RikiSjachrani-COM commented on #4
What about updating the index service? Is that something that could be included in 2? Also, just brainstorming here but there are a couple of things we needed to do after upgrades or hotfixes. Like
- [ ] After AMO upgrade, delete extra reports from default profile
- [ ] After ACA upgrade, reload the custom deep link file
- [ ] After the Adhoc Report, reconfigure the Record ID to https so that the

[2017-08-16 19:00] RikiSjachrani-COM commented on #6
@BrendenPautsch-COM the crystal add in can be installed from the following https://elam.cityofmadison.com/amo/ but it will sometimes initiate when the main exe is installed

[2017-08-16 20:34] BrendenPautsch-COM commented on #6
I updated the Stored Procedure that updated Health Active View in DEV to include both the current and new guide sheet violations in its counts so no design changes will be required to any of the reports that use the Health Active Data Source.  I contemplated changing the names to something more logical, but I am not sure how many ad-hoc report Beth and  Courtney have that use the fields [0to27] an

[2017-08-17 15:09] RikiSjachrani-COM commented on #6
@BrendenPautsch-COM check out production, I don't see that they've created a report using those fields so I think it might be safe to change it. What do you propose as a better named column?

Could we move the new checklists to test and let Courtney and Beth know it's ready for them to test?
- [ ] Move checklist items to Test
- [ ] Notify Courtney and Beth

[2017-08-17 15:31] JacquelineGoltz-COM commented on #6
I moved the Guidesheet/Checklists to Test.  Brenden could you look them over and make sure everything looks correct?  It does to me.  I will contact Beth and Courtney.

[2017-08-17 16:38] BrendenPautsch-COM commented on #6
New Field Names:
- INSPECTION_Violation_Priority   was [INSPECTION_0to27]
- INSPECTION_Violations_Additional was [INSPECTION_28to55]

[2017-08-17 16:40] BrendenPautsch-COM commented on #6
I was able to create a new inspection in AMO and I got the new Guidesheets after I did a complete sync.  I believe that it is ready to the tested by Beth and Courtney.

[2017-08-17 18:06] RikiSjachrani-COM commented on #4
@PaulOLeary-COM I am getting a database error when opening Adhoc reports in Test, when you have time could you look into this?
![image](https://user-images.githubusercontent.com/13784495/29426625-d6cfbcfc-834c-11e7-809b-953b0540da49.png)
- [ ] Fix adhoc report database error

[2017-08-17 18:34] PaulOLeary-COM commented on #4
Try it now. You'll have to close Ad Hoc window and follow the link again.

[2017-08-17 19:32] JacquelineGoltz-COM commented on #6
Email sent to Courtney and Beth regarding testing

[2017-08-17 19:44] KimGrittner-COM opened #8 "SR-13-0000431 - Reconfigure Accela documents as ADS EDMS not Sharepoint"
This project is being developed on AccelaDev, then AccelaStage for user testing.

TODO for this project

- [x] 1. Create new table BDOC_ADS_SYNC on MadisonAccela to track INSERT and DELETE of Accela.BDOCUMENT rows with a SOURCE_NAME = 'ADS'
- - [x] Prod

- [x] 2. Create stored procedure spUPDATE_BDOCS_ADS_SYNC on MadisonAccela to add rows into BDOC_ADS_SYNC to track new BDOCUMENT documents and upd

[2017-08-17 19:54] PaulOLeary-COM commented on #8
DEV Repository parent folder is: \\elamdevapp\accela\FileDB\ADS001

[2017-08-17 21:01] BrendenPautsch-COM commented on #6
I moved the SSRS Inspection Report from Dev to Test to test with the new data, attached is the report.  I some how selected an inspection that had carry- forwarded items, bonus.  I will start working on the AMO version of the report.  I want to have a correct version of the report to validate the local AMO report.
[HealthInspectionNew-TEST.pdf](https://github.com/City-of-Madison/Development-Team-2

[2017-08-17 21:08] PaulOLeary-COM commented on #8
If you want to programmatically determine the repository location - albeit relative to the server:

SELECT [PROFILE_VALUE]
  FROM [AccelaADSDev].[dbo].[RDOC_CONFIG_PROV_PROFILE]
  where SERV_PROV_CODE = 'ads001'
  and profile_name = 'FileRepository-FileDatabase'

[2017-08-18 13:44] RikiSjachrani-COM commented on #6
Great to hear! The AMO version of the report is located here C:\Program Files\Accela Inc\Accela Mobile Office Client\Reports\Inspections and it's named healthinspectionreport.rpt, to test your changes, you will need to rename the file to something else.

Also, sometimes testing your changes requires logging back into the AMO application because sometimes it seems to cache the report, other times y

[2017-08-18 16:21] BrendenPautsch-COM commented on #6
I was able to modify the CDC report to combine in the new Guidesheets.  The only issue I see is that the report is much "wider" as there are more columns which makes it not printer friendly.  I was thinking of possibly switching the axis and have the Facility type on the X Axis and the CDC Violation on the Y Axis.  We may need to follow up with Beth about that report in our next status meeting.

[2017-08-18 19:16] RikiSjachrani-COM commented on #6
I'm putting in here the other issue Courtney mentions with non-Food and Drink re-inspections. Just want to make sure it gets accounted for in this change

- [ ] Fix AMO Inspection Report logic of "Priority" and "Additional" for non-food and drink licenses
- [ ] Fix Accela Web Inspection Report "NO ESTABLISHMENT" above the license number

[sauk creek 2017.pdf](https://github.com/City-of-Madison/Dev

[2017-08-21 16:08] RikiSjachrani-COM commented on #6
Ok, to give an update. Since Test is version 9 of Accela, Courtney will be using the Help Desks loaner surface 4 to test the Guide sheet changes. It looks like Courtney, Stephanie and Beth will be testing this week.

Has either of you taken a look at scripting changes?

[2017-08-21 16:19] JacquelineGoltz-COM commented on #6
I looked at Standard Choice Scripts for Health Food and Drink, I did not see any reference to the inspections.  Brenden did you see anything that I missed?

[2017-08-21 17:34] BrendenPautsch-COM commented on #6
- I have updated the InspectionReport in SSRS to account for the No Establishment field in Test (Courtney's Latest Issue).

- I also just finished up the AMO InspectionReport.  I placed a copy of the local report in my common folder at (F:\Common\Brenden\healthinspectionreport_NEW.rpt) I was not able to attach it to this tread as rpt is not a support file type. I was able to test the reports it ag

[2017-08-21 17:41] RikiSjachrani-COM commented on #6
Great, honestly I don't know where to the find the test url. @KimGrittner-COM do you happen to know?

[2017-08-21 17:47] PaulOLeary-COM commented on #6
Try http://elamtest.cityofmadison.com/HealthInspections - Web team is doing a "makeover" on it.

[2017-08-21 18:38] BrendenPautsch-COM commented on #6
Paul,

That is the page and I was able to find the data source and the stored Procedure that updates the data.  However my current issue lies on that Page.  The data displayed on the elamtest page is live data so I cannot test the test data.  I also think it is using the same criteria that Health Actives uses to determine what priority the violation is, which needs to be updated to account for the

[2017-08-21 18:55] PaulOLeary-COM commented on #6
There's a web.config file on the site that I can change to point to the test DB. I'd like to give the web team the heads-up if we're going to do that, just so they know we're moving their cheese.

[2017-08-21 18:59] BrendenPautsch-COM commented on #6
Who on the webteam should I contact to edit the actual page (https://elamtest.cityofmadison.com/HealthInspections/Violation.aspx)?

Brenden

From: PaulOLeary-COM [mailto:notifications@github.com]
Sent: Monday, August 21, 2017 1:55 PM
To: City-of-Madison/Development-Team-2 <Development-Team-2@noreply.github.com>
Cc: Pautsch, Brenden <BPautsch@cityofmadison.com>; Mention <mention@noreply.github.com>

[2017-08-23 17:25] PaulOLeary-COM commented on #6
@BrendenPautsch-COM , I've made the change to the web.config, and I notified Nathan.

[2017-08-24 13:56] JacquelineGoltz-COM commented on #6
I completed QA on the following reports:

•	Health Inspections Report – AMO
•	Health Inspections Report – SSRS
•	CDC Risk Factor Report (New and Vertical)
•	Health Actives Report – New Field Names
•	Restaurant & Retail Food Store Health Inspection Reports (Web)

•	MadisonAccela Data
o	spRestaurantInspection
o	getInspectionCDCViolations
o	getInspectionViolations
o	HealthActive

[2017-08-24 18:06] KimGrittner-COM commented on #8
Paul, what user has rights to connect \elamdevapp\accela\FileDB\ADS001
Tried my login and elamdev
both failed

[2017-08-25 15:27] BrendenPautsch-COM commented on #6
Finished updating the InspectionHealth Report with the updates from Courtney.

Riki, can you please QA as I believe this is the last report that needs to QA and customer tested.

I have attached my test print of the reports both the AMO and the SSRS version.  The only noticeable data difference is the inspector information under the signatures. in AMO it uses the person who is logged into the AMO

[2017-09-07 15:43] RikiSjachrani-COM opened #9 "Reconciling Standard Choice EMSE scripts between Production and Test"
Riki 9/7/2017 - I'm creating this work space to keep track of differences that I'm finding between production and test standard choice emse scripts. How I'm doing this is I've exported all the EMSE from production and test, then using notepad ++ comparison add on tool to find differences. If I cannot reconcile the differences myself, I'm looking up in the database as to the last person that edited

[2017-09-07 15:47] RikiSjachrani-COM commented on #9
@JaneSchneider-COM

- [ ] ASA:Permitting/Fire/Alarm/NA - look at line 04e and 89, can we disable

[2017-09-07 15:57] RikiSjachrani-COM commented on #9
@JacquelineGoltz-COM since you are more familiar with parks permits, will you look at reconciling the following production script in production that doesn't exist in test? Also, if it needs to be moved to dev please do so as well

- [ ] ASA:Permitting/Parks/Beer Sales/NA - Not in Test

[2017-09-07 16:09] JacquelineGoltz-COM commented on #9
ASA:Permitting/Parks/Beer Sales/NA  -  The record type no longer exists.  No records were ever created. It was absorbed into the Street Use Permit.

ASA:Permitting/Parks/Street Use Vending/NA - The record type no longer exists.  No records were ever created. It was absorbed into the Street Use Permit.

Should I disable them?

[2017-09-07 16:11] RikiSjachrani-COM commented on #9
@JacquelineGoltz-COM yes, about the two record types that have been absorbed, let's disable the emse so that we won't have to convert them to BRE. Thanks in advance!

[2017-09-07 18:14] RikiSjachrani-COM commented on #9
@JacquelineGoltz-COM Could you also go through any other scripts related to Permitting Parks Beer and Street use and disable them in production? Please list the scripts that were updated for record keeping

[2017-09-07 18:25] JaneSchneider-COM commented on #9
@RikiSjachrani-COM: My task above for ASA:Permitting/Fire/Alarm/NA has been completed.

[2017-09-07 18:31] RikiSjachrani-COM commented on #9
I'm moving the task list to the top and will place them under a section assignment

[2017-09-07 19:00] RikiSjachrani-COM commented on #9
@JaneSchneider-COM take a look at ASIUA:Permitting/Traffic Engineering/Bicycle Registration/Renewal - in test line 07 is missing from the production version, this was changed by Jeff but since you are more familiar with this, I was hoping you could review and let me know how we should reconcile the difference.

[2017-09-07 19:50] JacquelineGoltz-COM commented on #9
ASB:Licenses/Vending/MallFoodVendor/NA -  I am unsure why lines are unchecked in test vs production. Possibly an SR that never was moved to production.

[2017-09-07 20:34] RikiSjachrani-COM opened #10 "Reconciling Include Customs between Dev, Test, and Production"
This is the work space to reconcile the differences between the three environment include custom script. Once we get this sorted out we will convert these to individual js scripts

### To dos
- [ ] Meet and discuss approach - @ChrisHagen-COM once you've taken a look at this, setup a meeting to brain storm the next steps
- [ ] Determine functions that are in master script that need to be reviewed a

[2017-09-07 20:59] JacquelineGoltz-COM commented on #9
Riki,  all scripts related to adding the white male data on AA Plans will differ in test vs production.
I will get a list together for you tomorrow.

[2017-09-07 21:01] RikiSjachrani-COM commented on #9
Oh, is that what those are from? OK, thanks for clarifying that and I'll put it on the list of scripts pending to production.

[2017-09-08 12:11] JacquelineGoltz-COM commented on #9
List of changed scripts for AA Plan (work still needs to be done before prod)
CMN:AAPLAN_JOBCAT_LIST
CMN:CHECK_AND_CREATE_ROW
CMN:GET_FIELDS
CMN:Licenses/Civil Rights/AA Plan/Public Works:GetFieldTotals
CMN:Licenses/Civil Rights/AA Plan/Public Works:UpdateWAGSTableLoop
CMN:Licenses/Civil Rights/AA Plan/Public Works:CreateWAGSValuesLoop
CMN:CREATE_Workforce_Row
CAA:Licenses/Civil Rights/AA Plan/CBO

[2017-09-08 15:53] JacquelineGoltz-COM commented on #9
@RikiSjachrani-COM  Disabled the following in Production, they are not in test or dev:
ASA:Permitting/Parks/Beer Sales/NA
ASB:Permitting/Parks/Beer Sales/NA
ASIUA:Permitting/Parks/Beer Sales/NA
CAB:Permitting/Parks/Beer Sales/NA
CMN:Permitting/Parks/Beer Sales/NA:Fee
CMN:Permitting/Parks/Beer Sales/NA:FeeEstimate
CRCA:Permitting/Parks/Beer Sales/NA
FEACA:Permitting/Parks/Beer Sales/NA
WTUA:Permitt

[2017-09-08 16:44] JaneSchneider-COM commented on #9
@PaulOLeary-COM : Line 07 in EMSE script ASIUA:Permitting/Traffic Engineering/Bicycle Registration/Renewal is missing in Test (it's in Dev & Prod). This was changed by Jeff.
Riki wants to know if we should add line 07 to Test. I'm thinking yes, but wanted you to weigh in first.

[2017-09-08 20:32] KimGrittner-COM commented on #8
In the BDOCUMENT table on production there are 6 different ENT_TYPEs.
**Which ones do we want in SharePoint?**
**CAP and INSPECTION I am sure about, but what about TMP_CAP, PARCEL and the rest?**

Thanks

select distinct count(*) as cnt, ent_type from bdocument group by ent_type order by ent_type

Here are the stats from 9/8/2017
===========================
count	ent_type
=====   ================

[2017-09-08 21:58] PaulOLeary-COM commented on #9
@JaneSchneider-COM - Yup, line 07 should definitely be there.

[2017-09-08 22:08] JaneSchneider-COM commented on #9
@RikiSjachrani-COM @PaulOLeary-COM: Line 07 in EMSE script ASIUA:Permitting/Traffic Engineering/Bicycle Registration/Renewal that is in Dev & Prod is now also in Test.

[2017-09-11 18:16] RikiSjachrani-COM commented on #9
@JacquelineGoltz-COM I found some branched scripts for Permitting Parks Beer and street use vending that should also be disabled if they are only used by those disabled record types. The one I found is EML:Permitting/Parks/*/*:Issued and CMN:GetParksAppName that I believe are only used by those disabled types. I'm going to add these to your list of emse scripts to review

[2017-09-12 16:50] ChrisHagen-COM commented on #10
Outside of Git email chain:
From: Sjachrani, Riki
Sent: Wednesday, September 06, 2017 4:14 PM
To: Hagen, Christopher <CEHagen@cityofmadison.com>
Cc: Kauffeld, Sharon <SKauffeld@cityofmadison.com>
Subject: RE: Includes Custom project assistance

Sounds like a good start, I may create a issues in the development repository for us to work on this.

I took a quick look and test – prod are pretty close

[2017-09-12 17:06] ChrisHagen-COM commented on #10
Per email, I started by matching Prod and Test.

I moved all comments inside of the functions if they were above the functions. At that point I ignored differences that were just spaces or logDebug commands.

I found the function "getWorkFlowParams4Notification(params)" was listed twice back to back in prod and removed it after verifying they were the same.

The following functions were in test an

[2017-09-12 17:08] ChrisHagen-COM commented on #10
I did not upload the files - I see that it disallows the .js extension. I did not want to create a scratch directory on git for these files to link in to - I wasn't sure how you want to handle this. Please advise.

I will start on reconciling the new TEST version with DEV.

[2017-09-12 17:12] RikiSjachrani-COM commented on #10
Let's setup a meeting to install github on your machine and sync the respository. I have a meeting at 1:30 so anytime before that will work. Let me know when would work and bring your laptop over

[2017-09-12 17:32] RikiSjachrani-COM commented on #9
@JaneSchneider-COM and @BrendenPautsch-COM  will you please check out  WTUA:Permitting/Health/POWTS/Sanitary and CMN:LoadTaskStatusHistory - CMN:LoadTaskStatusHistory only exists in test but is referenced by WTUA:Permitting/Health/POWTS/Sanitary, please reconile the difference. I see @BrendenPautsch-COM was the last person to edit the WTUA script and @JaneSchneider-COM the CMN. Not sure what it's

[2017-09-12 20:23] JaneSchneider-COM commented on #9
@RikiSjachrani-COM and @BrendenPautsch-COM: I took a look at WTUA:Permitting/Health/POWTS/Sanitary and CMN:LoadTaskStatusHistory in both Test and Prod, and after doing some query research and testing in Test, I called John Hausbeck to verify that the business rule for which CMN:LoadTaskStatusHistory applies is still valid, and it is. Thus, CMN:LoadTaskStatusHistory should be moved to production. I

[2017-09-12 20:25] RikiSjachrani-COM commented on #9
@JaneSchneider-COM nice follow up and feel free to move this to production. Thanks for looking into this so promptly

[2017-09-12 22:48] JaneSchneider-COM commented on #9
@RikiSjachrani-COM: Line 06 is different in Dev/Test vs. Prod for WTUA:Permitting/Health/POWTS/Sanitary. I did some research, and this came out of SR-16-0396 (see workflow, IT Action/IT QA). I know line 06 in prod is obsolete, as the WF status "Existing System" no longer exists for regular san permits.
The question is, do we move the version of line 06 from Dev/Test to Prod? I think not, but am no

[2017-09-14 14:11] RikiSjachrani-COM commented on #5
@PaulOLeary-COM so this problem has been resolved right?

[2017-09-14 14:14] PaulOLeary-COM commented on #5
@RikiSjachrani-COM Yes, it's resolved.

[2017-09-14 14:15] #5 closed

[2017-09-18 20:31] JaneSchneider-COM commented on #9
@RikiSjachrani-COM: Regarding CMN:Permitting/Building/Residential/New Electrical:Fee, I think we go with what is in Production. Line 02 in Dev & Test was never moved to Prod, and if no one in BI has recently complained about Prod Residential electrical permit fees, let's just go with that. I think line 02 in Dev & Test was an experiment that came out of SR-15-0000572.
And note that 99.02 definitel

[2017-09-22 21:37] ChrisHagen-COM commented on #10
[Includes_custom reconcilliation.pdf](https://github.com/City-of-Madison/Development-Team-2/files/1325906/Includes_custom.reconcilliation.pdf)

The attached document is a report of all changes in reconciling test/prod and Dev. Some of these are marked resolved. I will create ToDo's for all of these on Monday so that the scripts with outstanding questions can be discussed. There were only 3 btween

[2017-09-25 13:58] ChrisHagen-COM commented on #10
`This script is used in a very large number of emse scripts on prod/test/dev.

There was one slight small difference between the scripts:

	aa.runAsyncScript(scriptCode, envParameters);
	                                //The script won't finalize (email created but won't send) without another email outside of the async call to trigger it. Not sure of the root cause.

[2017-09-27 21:15] PaulOLeary-COM commented on #4
# Options/Questions for LIVE upgrade - For Thurs PM meeting

- Uninstall / reinstall, or in-place?
-- Reinstall on any IIS components - install to D:\Accela\wwwroot if possible, to keep off C: drive
-- Any shares on existing folders? If new created, we'll need to re-create
- GIS / settings
-- JS - Should find existing data (DB)
-- SL - Rebuild, or use MADISON folder? - Update AGENCIES.XML file
- C

[2017-09-27 21:25] PaulOLeary-COM commented on #4
# Checklist for LIVE upgrade

Preliminary checklist....

**1.  Backup DBs (Paul):**
- [ ] AccelaProd
- [ ] AccelaGISProd (JS)
- [ ] AMOTest
- [ ] jetspeed

**2.  Upgrade Accela to 9.1.3 **
- [ ] Database updates - ELAMDBPRD
- [ ] Civic Platform - ELAM7APP1, ELAM7APP2, ELAM7WEB, ELAM7INDEX
- [ ] Will need new license key
- [ ] ACA/Kiosk - ELAM7WACA
- [ ] --After ACA upgrade, reload the custom deep

[2017-09-27 23:23] JaneSchneider-COM commented on #9
@RikiSjachrani-COM : Regarding CPB:Permitting/Fire/*/*, Dev & Test are the same and prod is different. Dev & test do a check for TOWN OF BLOOMING GROVE, in addition to SHOREWOOD HILLS, and is included as a valid Madison address. This change (see SR-15-0001130) has not been moved to prod.  Since this is an older SR, I don't think it should be moved to production without testing and verifying with F

[2017-09-28 13:11] RikiSjachrani-COM commented on #9
@JaneSchneider-COM this ironically came up at a recent bi-weekly meeting and this should be moved to production to add the Town of Blooming Grove to the list of option-able municipalities

[2017-09-29 15:52] PaulOLeary-COM commented on #4
@RikiSjachrani-COM , AMO client question/concern - when AMO users get the invite to download the upgrade, will AppLocker get in the way?

If I recall, for new AMO users, we put the install in \\SCCM\Packages, and there's an AppLocker exception for it. Does that sound right? We'll need to do that anyway, so I'll get that ball rolling. But I'm wondering if we should just use that for current users c

[2017-09-29 15:55] RikiSjachrani-COM commented on #4
@PaulOLeary-COM I don't believe we will run into any issues with weekend users, and I think I will inquire with the help desk about the app blocker scenario. It would seem like it would be blocked, but wouldn't we have run into this in the past?

[2017-09-29 15:59] PaulOLeary-COM commented on #4
I have another question for Molly, so I'll inquire about this as well. Meanwhile, I'm going to try downgrading my desktop machine to AMO 8.xxx, then login as that test non-IT user and see what happens when it tries to upgrade via the AMO download. Just so we know what to expect on Monday.

[2017-09-29 16:35] PaulOLeary-COM commented on #4
I think we'll be okay with updating existing AMO users upgrading. I logged in with the TESTSW (non-IT) AD user, and the AMO download upgraded the client to 9.1.3 with no problem.

For new user installs in the future, I put the 9.1.3 client install files (choice of EXE or MSI) in \\SCCM\Packages, and entered a HEAT request to add AppLocker exceptions for them.

[2017-09-29 16:39] JaneSchneider-COM commented on #9
@RikiSjachrani-COM: I tested the new code in CPB:Permitting/Fire/*/* in ACA Test using Madison, Village of Shorewood, and Town of Blooming Grove, and other municipalities. I tested the various Fire permits, and all worked as expected. I moved the code to production late yesterday. I also tested in prod, as just testing address validation, so nothing submitted or saved...all good.

[2017-09-29 17:27] RikiSjachrani-COM commented on #4
I will do the same on the surface tablet I use and downgrade to AMO 8.x

[2017-09-29 17:28] RikiSjachrani-COM commented on #9
@JaneSchneider-COM great to hear, I'll let Bill know that it's been moved to production

[2017-09-29 18:14] PaulOLeary-COM commented on #4
Shoot, this time it failed.

![amoupderr](https://user-images.githubusercontent.com/19735470/31029410-32ffc120-a517-11e7-80b2-ae869e3abbc3.JPG)

But Event Viewer -> AppLocker doesn't show any entries for "was not allowed to run".

Maybe we should just instruct people to run the exe from \\sccm\packages .

[2017-09-29 18:51] PaulOLeary-COM commented on #4
Update - as I mentioned in my voice mail, the AMO update-via-download failed in the Test OU. But nothing in the AppLocker Event Viewer indicating anything not allowed to run.

On a hunch, well, knowing that the SERVER service is disabled for many/most OUs, I enabled the SERVER service, and started it. Then tried the AMO update-via-download again, and this time it worked.

Soooo.... question is - f

[2017-09-29 20:08] PaulOLeary-COM commented on #4
Well, it definitely isn’t needed for the software to run, or we would have had issues a long time ago with the existing version.

Buuuuut…. another update. I tried it again, with the WS in the Env Health container, and it worked. This is with Server service disabled and NOT running. So I THINK we’re good to go with the in-place upgrade.

For the time being, can you keep my desktop WS in that Healt

[2017-09-29 20:50] RikiSjachrani-COM commented on #4
@PaulOLeary-COM ok, thats good. I am going to expect a fair amount of manual intervention with AMO. I'm just skeptical it's going to work for most of the people.

[2017-09-29 22:43] PaulOLeary-COM commented on #4
Ye of little faith....

Status @ 17:40
Backup is done. DB Updates are done.
APP2 BIZ is uninstalled, new install going now - so far it's remembering settings from saved copy properly
WACA - uninstalled KIOSK, reinstalling - requires Dot Net 4.6, ELAM7WACA server restarting after 4.6 install

[2017-09-29 23:34] RikiSjachrani-COM commented on #4
I see the license key file you mention but it's the same as the current key being used by 8.x...I'm going to give it a whirl. If not, I'll check out our CRC cases

![image](https://user-images.githubusercontent.com/13784495/31039651-dcc49ed8-a544-11e7-92dc-57fa5adf441c.png)

[2017-09-29 23:54] RikiSjachrani-COM commented on #4
I am getting the following error trying to access adhoc, I'm going to troubleshoot

![image](https://user-images.githubusercontent.com/13784495/31039955-afb978e8-a547-11e7-89c1-11b1fc11be92.png)

[2017-09-30 00:08] RikiSjachrani-COM commented on #4
Ok, so it's working now and I'm just trying to run a report to test the hotlink thing

[2017-09-30 02:35] PaulOLeary-COM commented on #4
Status @ 21:15
Working
- Civic Platform
- ACA, including deep link
- AMO - one more download/upgrade test, worked
- AGIS (old UI SL)

Issues
- Ad hoc Reporting - working, but throwing a Certificate error, will continue to troubleshoot
- AMO - **If** we have to use the \\\SCCM\Packages install, turns out (oopsie...) the install files I copied there _are_ the 32-bit versions. I copied the 64-bit fil

[2017-09-30 18:20] RikiSjachrani-COM commented on #4
@PaulOLeary-COM nice job getting everything sorted out. I'm going through some testing and will list what I've check and note anything to look into Monday. My comments in order of...

Adhoc Certificate error - this started up after the most recent upgrade and I think we just manually installed the cert on user's machines that use adhoc. I don't think this is a new issue

AMO - I think the rename i

[2017-09-30 18:41] RikiSjachrani-COM commented on #4
- [x] Checking the elam redirect by going to https://elam.cityofmadison.com/
- [x] Login to Civic Platform
- [x] Login to ACA
- [ ] Civic Platform seems a bit slow but it could be my internet
- [x] The auto assign inspections worked for BLDPLM-2017-14869, this means the GIS SL and Parcel location is working
- [x] Attached documents showing up through civic platform
- [ ] New ACA records since the

[2017-09-30 23:56] PaulOLeary-COM commented on #4
Ad Hoc Cert error is actually because the Cert expired, not related to the previous service pack. We'll need to regroup on how to handle IIS internal certs.

ACA/GIS - I didn't realize that the GIS installation on WACA was still serving ACA. I thought it was an old remnant. So it's not updated. I can run the upgrade just to make the error go away, but we should review this; maintaining two (well,

[2017-10-02 13:50] PaulOLeary-COM commented on #4
ACA/GIS - Near as I can tell, we need Javascript GIS for ACA. GIS has not worked on ACA in Dev or Test since we upgraded them. I installed AGIS-JS on Dev, but haven't found a way for it to render the map properly. It shows the whole world. I'm thinking it's a user group issue; working on that presently.

[2017-10-02 14:01] RikiSjachrani-COM commented on #4
I haven't gotten any calls and there haven't been any heat tickets either...it's almost too quiet

[2017-10-02 19:16] JaneSchneider-COM commented on #3
@RikiSjachrani-COM: Would you please verify or correct a few things for me?

1. The new FP_PTOISSUED set will be scheduled to run daily, (Mon-Fri) like the  FP10DAY, FPWRITTEN, and FPVERBAL sets, correct?

2. In Accela Report Manager, should both new "Fire Invoice" report (single & set) and the new "Fire Order" report (single & set) be configured under "Fire" or "Fire Prevention"? I'm thinking bot

[2017-10-02 20:46] RikiSjachrani-COM commented on #3
@JaneSchneider-COM in response to your numbered questions

1. Correct
2. I would say place these newer reports under the Fire Prevention directory. Question about the new "Fire Order" report,
A. Is this suppose to replace all three order report types? I didn't realize we were consolidating them into one report and they had special text for written, verbal and 10-day
3. Yes
4. Yes
A. Yes
B. That ma

[2017-10-02 20:53] JacquelineGoltz-COM commented on #6
We had a conference call this morning with Courtney so we could better understand her issue. Brenden is currently making the latest the changes requested by Courtney.  The summary section of the Health Inspection report is not printing correctly on Food and Drink records.   The repeat statement is also printing at times when there is not a repeat violation.

[2017-10-02 21:22] JaneSchneider-COM commented on #3
@RikiSjachrani-COM: Yes, according to @BrendenPautsch-COM, the new "Fire Order" report (both single and set) replaces 10-Day, Verbal, and Written (and ElevatorOfficialNotice). The single version of the report takes two parameters: AltID and LetterType, where LetterType is one of 'FPWRITTEN, 'FPVERBAL, or 'FP10DAY', the corresponding SetID. The set version just has the SetID param, which tells the

[2017-10-02 21:25] RikiSjachrani-COM commented on #3
Ok, that makes sense and that cool we were able to combine the reports. Once these have been setup in Dev, I will run through some front end testing against the sets and individual records.

[2017-10-03 15:56] BrendenPautsch-COM commented on #3
Jane,

Everything you stated is correct.  I have also just completed moving the Fire Invoice and Set to the Fire Prevention folder and added Fire Orders and Set to Fire prevention as well.

I set up the individual reports to use the current AltID and I also created a variable for the Orders so you can select the letter type.  Let me know if youhave any issues.

Brenden

From: Jane Schneider [mailt

[2017-10-05 16:03] JaneSchneider-COM opened #11 "SR-17-0000375: TiPSS Project"
Integrate ERP with TiPSS regarding online payments
F:\Information Technology\Applications and Systems\ERPMiddleware\Active Project\SR-17-0000375 Integrate ERP with TiPSS\Meeting Notes

[2017-10-05 16:07] JaneSchneider-COM commented on #11
**Tasks**
- [ ] Create new Bizcash database tables in Dev
     - [ ] Create CourtHeader table
     - [ ] Create CourtDetail table
     - [ ] Create CourtPaymentWCF table

[2017-10-05 19:07] JacquelineGoltz-COM commented on #6
@BrendenPautsch-COM Final QA is finished today.  Everything looks good.  I ran swimming pool, hotel and food/drink records.  Created routine inspections no violation, violation with repeat, scheduled reinspections,  violation not corrected, violation corrected and on site.  I am going to email Courtney today.

[2017-10-09 15:48] RikiSjachrani-COM commented on #3
@JaneSchneider-COM I'm looking the script table in the elevator annual inspection workflow with detail page in one note and am wondering if the box on the right should be what I'm testing against?

My plan is to test all those scenarios and ensure the Action comes out correct. Is that accurate as far as what you scripted to?

Thanks,

Riki

[2017-10-09 16:56] RikiSjachrani-COM commented on #3
@JaneSchneider-COM what event will place a elevator record into the FPINVOICE Set? Also, I'm wondering if the PTO Expiration Date just be incremented after a Successful PTO Fee Assessed occurs? There's no rush on this, I'm just putting my thoughts somewhere

[2017-10-09 17:03] JaneSchneider-COM commented on #3
@RikiSjachrani-COM: Via RBIZDOMAIN search, I found these scripts that referenced the FPREINSP set, which I replaced with FPINVOICE:
- CMN:Permitting/Fire/*/*:InspectionStatused
- IRSA:Enforcement/Fire/Prevention/*
- CMN:Permitting/Fire/*/*:Schedule Reinspection

If I'm understanding your question about PTO Expiration Date: see CMN:Permitting/Fire/Elevator/*:CalcNextAnnualInspec, which is called fr

[2017-10-09 17:17] RikiSjachrani-COM commented on #3
@JaneSchneider-COM

About the FPINVOICE - I think this works for Prevention records but I don't see a way that Elevator records get dropped in there. I think it is just an oversight when I was spec'ing it

About the PTO Expiration Date - I see where it calculates ahead the 10 months for the next annual inspection but it doesn't increment the actual ASI Office Use Only field PTO Date to the next ye

[2017-10-09 17:52] JaneSchneider-COM commented on #3
@RikiSjachrani-COM: Ah, OK. Yep, I missed these two items.
I'll work on the PTO Expire Date first, as I understand that one, I think.
We should briefly meet to make sure I understand when Elevator gets added to the FPINVOICE set.

[2017-10-09 20:11] JaneSchneider-COM commented on #3
@RikiSjachrani-COM: I think I have the ASI PTO Exp Date updating correctly now, but have question.
I scheduled short meeting today at 4pm to discuss this and when to add to FPINVOICE set.
Also, discovered something about fees on Fire/Elevator record creation that I'd like to discuss.

[2017-10-09 21:46] JaneSchneider-COM commented on #3
@RikiSjachrani-COM: OK, per our meeting, Fire/Elevator will be added to FPINVOICE in these two scripts:
- CMN:Permitting/Fire/Elevator/*:InspecApproved
- CMN:Permitting/Fire/Elevator/*:InspecDenied
when fees are assessed & invoiced.

[2017-10-10 17:16] RikiSjachrani-COM opened #12 "SR-17-0000386 Citation data transfer to Police Records"
Create an export of Accela Citations to be imported into the Police Record Management System

To reduce manual entry into the Police RMS, improve accuracy of data being transferred, save staff time to focus on other tasks

To accomplish this - Not sure our approach just yet, going to be a specification document, SSIS package or run-able report…

We will know we are making progress when we have spe

[2017-10-10 17:26] RikiSjachrani-COM commented on #11
@JaneSchneider-COM If you move the to do list to the first comment, it will show from the issues screen the open and completed tasks

[2017-10-10 20:51] RikiSjachrani-COM commented on #3
@JaneSchneider-COM I statused a second inspection on ELEV-2008-513818 and it added the re-inspection invoice, added it to the 10-Notice Set and schedule the Final Inspection but did not add to the FPINVOICE as I was expecting. When you have a moment, can to check that this is occuring or let me know if it shouldn't be occuring

[2017-10-10 21:06] JaneSchneider-COM commented on #3
@RikiSjachrani-COM : What environment are you in? Did you delete the inspection, because I'm not seeing it in Dev? Are you saying the record went into the FPREINSP set instead of the FPINVOICE set?

[2017-10-10 21:30] JaneSchneider-COM commented on #3
@RikiSjachrani-COM: OK, I just tried this for ELEV-2008-924327 in Dev, and the record was added to the FPINVOICE set.
I also just statused the Second Reinspection for ELEV-2008-513818 in Dev to Not Corrected, and the record was added to the FPINVOICE set, along with the being added to the FP10Day set, the reinspection fee being added, and the Final Reinspection being scheduled.
I didn't change any

[2017-10-11 12:59] RikiSjachrani-COM commented on #3
@JaneSchneider-COM yeah, it's in there and most likely was and I just did not refresh the portlet or something. sorry for the false alarm

[2017-10-11 15:04] JaneSchneider-COM commented on #3
@RikiSjachrani-COM: Actually, the one entry in FPINVOICE for ELEV-2008-513818 is mine. I checked the SetDetails table, and the REC_DATE & REC_NAM are 2017-10-10 16:26:51.947 & ITJBS.
So, still not sure what happened on your transaction. But, as I said above, when I statused an Annual Inspection and First or Second Reinspection with a status of Written Orders or Not Corrected, the record goes into

[2017-10-12 15:44] JaneSchneider-COM opened #13 "SR-17-0000397 Create Export Files for Madison Metro Middleware"
**Export Metro Payments received from US Bank**
When online payments are processed through the Treasurer Middleware application, Metro receives an email of payments but would like to now receive a csv file with the payment information as well. They are planning on importing this into their system instead of keying it in manually.

They are requesting this to be able to import into their Metro Reco

[2017-10-12 15:50] RikiSjachrani-COM commented on #3
So we got a verbal sign off on this and can move everything to production, I'm going to send a confirmation email to Bill and Jerry confirming this. When do you think people would have time to promote everything to production?

[2017-10-12 15:52] RikiSjachrani-COM commented on #13
@ChrisBilik-COM welcome, you have all the software you need to work on this project? Please let me know...

[2017-10-12 15:54] ChrisBilik-COM commented on #13
I think so!  Im going to start with the Metro Billing part, then Bus Passes.  Do we have a mapping for Bus Passes?

[2017-10-12 15:54] JaneSchneider-COM commented on #3
Am I correct that we cannot do tomorrow, as is Friday? So, that would leave today or next week, correct?
If this is a high priority, then I'll make time today.

[2017-10-12 15:57] RikiSjachrani-COM commented on #3
We cannot do this Friday and we have a bunch of stuff to move. I've added Brenden since he has the report side. Maybe we can shoot for next week, just call a day...We should also submit a change request, I can do that today

[2017-10-12 16:04] JaneSchneider-COM commented on #3
Kim & I were thinking Tuesday.
How about I create a meeting for 9:00am where we can come up with a game plan of who will do what, and then we go off and do our assigned tasks.
I was thinking I would move all the scripts.
Kim was thinking he would do all tasks related to guidesheets.
Brenden would set up the reports.
And then I could help Brenden set up the batch jobs and sets, if you would like.
T

[2017-10-12 16:06] JaneSchneider-COM commented on #13
Here is location of old Metro export files: \\fps1\Data1\Trcommon\Metro.
Examples attached.
[bp201411101457.txt](https://github.com/City-of-Madison/Development-Team-2/files/1379909/bp201411101457.txt)
[mb201411101457.txt](https://github.com/City-of-Madison/Development-Team-2/files/1379910/mb201411101457.txt)

[2017-10-12 17:17] ChrisBilik-COM commented on #13
Can I put columns headers on the.csv output file?

[2017-10-12 17:30] JaneSchneider-COM commented on #13
Not sure if Metro's system can handle column headers or not.
@RikiSjachrani-COM: Do you know if column headers would work in the output files for Metro, i.e., can their system handle that?

@ChrisBilik-COM: What is your reasoning for adding the column headers? Just clarity or something more?

[2017-10-12 17:30] ChrisBilik-COM commented on #13
Exactly just for clarity, if not no biggie

[2017-10-12 18:18] JaneSchneider-COM commented on #13
@RikiSjachrani-COM or @KimGrittner-COM:
Don't we need Dani to create a view to the Madison Metro data from ePayment?
Attached are screenshots from Test and Prod (is there a dev? What are the login credentials?)
![epayment_views_prod](https://user-images.githubusercontent.com/30414577/31512173-9ec7e512-af4f-11e7-915a-3f08ccab5eea.JPG)
![epayment_views_test](https://user-images.githubusercontent.com

[2017-10-12 18:37] RikiSjachrani-COM commented on #13
There is not a Dev and I think you are right. @DaniFossum-COM do you have a view for Metro Bus Pass and Invoice payments similar to the ones noted above that bizcash can have access to?

[2017-10-12 18:42] JaneSchneider-COM commented on #13
FYI - I updated the SourceTypeDescription and AttachmentName fields in the dev bizcash SourceType table for METEXP to "Metro Export" and Metro.pdf to be similar to the %EXP SourceTypes and different than METCOM.
![sourcetypedev_exps](https://user-images.githubusercontent.com/30414577/31513187-1df39c7a-af53-11e7-89a6-99e94ce23304.JPG)

[2017-10-12 19:05] KimGrittner-COM commented on #13
JaneSchneider-COM  When you wonder about an ePayment view what fields are you looking for that don't already exist and get populated on MiscDetail?  There are several exports that do NOT use epayment and I wouldn't assume missing data unless we can identify it.

[2017-10-12 19:19] JaneSchneider-COM commented on #13
@KimGrittner-COM: True. I  was thinking we would need more info than what is provided in the COM_MET file, but maybe not. Let's cross bridge when we get to it.

[2017-10-13 14:09] JacquelineGoltz-COM commented on #6
I sent an email to Courtney on 10/9 for final approval. Waiting to hear back.

[2017-10-13 14:14] ChrisBilik-COM commented on #13
I have a sample file of the MetroBill export located at \\fps1\data1\Common\compt\Dev\exportfiles\Metro.    The original sample looks tab delimited, but this ticket said csv, either way can be done.  Going to start Bus Pass next

[2017-10-13 14:17] JaneSchneider-COM commented on #13
Excellent! If SR says CSV, then that's what I'd go with for now.

[2017-10-13 14:32] ChrisBilik-COM commented on #13
@KimGrittner-COM:  Hey Kim when you get back, I may need some assistance....I am not sure how to make one package do both exports....Do we need another Source type variable?  ie, one for METEX Bill Pay and one for Bus PAss.  I will try to figure it out, but if you have any insight, please let me know.  Easy enough to make another package, but trying to be efficient  :)

[2017-10-13 15:20] JacquelineGoltz-COM commented on #6
@RikiSjachrani-COM and @BrendenPautsch-COM Courtney Z has approved the project for production.  I will plan to do this on Monday 10/16.

[2017-10-13 17:08] ChrisBilik-COM commented on #13
Update, both files are exported to \fps1\data1\Common\compt\Dev\exportfiles\Metro
Email is looking good.  Need to understand the pdf report part next

[2017-10-16 17:47] JacquelineGoltz-COM commented on #6
Move Guidesheets to Production

- [ ] LIC_FOOD IONN 2017
- [ ] LIC_FOOD IONN OTHER 2017
 - [ ] LIC FOOD GRP 2017
- [ ]  LIC FOOD GRP OTHER 2017

[2017-10-16 20:47] ChrisBilik-COM commented on #13
Do we know if the new SSIS export needs to attach 2 pdf reports?    If so @KimGrittner-COM can you give me a once over on that part of the flow?

[2017-10-17 18:35] ChrisBilik-COM commented on #13
Attached are the 2 output files for testing:

[bp20171016151913.txt](https://github.com/City-of-Madison/Development-Team-2/files/1392156/bp20171016151913.txt)
[mb20171016151913.txt](https://github.com/City-of-Madison/Development-Team-2/files/1392157/mb20171016151913.txt)

[2017-10-17 18:39] RikiSjachrani-COM commented on #13
Does the buss pass output spec include what they purchased? I'm going to give them a call and see if anything has changed since this has been a while

[2017-10-17 18:42] ChrisBilik-COM commented on #13
I do not think we got a bus spec(that sheet was blank) so I just made it the same output as the old samples from 2014

[2017-10-17 18:44] RikiSjachrani-COM commented on #13
Yeah, just looking at the old output file, it doesn't appear to include any details

[2017-10-17 21:14] RikiSjachrani-COM commented on #13
Everyone, I just spoke with Metro's authorized contact and she doesn't know who originally requested this and she is questioning the benefit of it. Please hold of on any development work until I sort this out with Sharon and Nancy. Thanks!

[2017-10-18 14:45] RikiSjachrani-COM commented on #13
I just got some additional direction from Sharon and we are going to continue pursuing this, I'm going to call the Metro Contact that is requesting this

![image](https://user-images.githubusercontent.com/13784495/31725028-f71ff694-b3e8-11e7-94fd-9f9c99688658.png)

[2017-10-18 14:48] ChrisBilik-COM commented on #13
Excellent!   If the format of the output files is good, we should be good to go, pending changing variable's for the different environment's and such

[2017-10-18 19:38] JaneSchneider-COM commented on #13
![gameoff](https://user-images.githubusercontent.com/30414577/31739007-0c3d8018-b412-11e7-898e-1a311207dffc.jpg)

[2017-10-18 19:50] JaneSchneider-COM commented on #13
![way](https://user-images.githubusercontent.com/30414577/31739468-9b758b8a-b413-11e7-8607-03cbe5fd4a8b.png)

[2017-10-19 16:35] KimGrittner-COM opened #14 "SR-17-0000403 - Create SSIS Package for water Customer Account file"
WU - Create SSIS Package for water Customer Account file

We have to manually import the customer account file and it would be nice if it would be a push button thing that Water could do, this would pass the responsibility to Water, Save us time from doing it

To accomplish this - Could we have Water have a screen in TR Web where they could upload the Customer Account File and then run some import

[2017-10-19 19:32] #13 closed

[2017-10-19 19:56] PaulOLeary-COM commented on #8
So ADS Test is running. TEST Repository parent folder is: \\\elam73testapp\accela\FileDB\ADS001
@KimGrittner-COM - see if you can browse to that folder.

[2017-10-19 20:39] PaulOLeary-COM commented on #8
Okay, I've made ADS the default EDMS for Permitting. I've also made it the default for PermittingPublicUser group (ACA Permits), with delete disabled.

[2017-10-19 20:40] KimGrittner-COM commented on #8
PaulOLeary-COM Yes I can get to that folder.  Thanks

[2017-10-19 20:48] RikiSjachrani-COM commented on #12
@ChrisBilik-COM Sharon has asked that you participate on this Service Request, it's still in the dev spec phase but feel free to schedule a meeting sometime next week to discuss this project

[2017-10-19 20:58] RikiSjachrani-COM commented on #11
I've included Chris on this project as well, with the intention that he can get more familiar with SRs related to middleware.

[2017-10-20 13:35] RikiSjachrani-COM commented on #3
@BrendenPautsch-COM I am wondering if we could alter the calculation of the new invoice where it has "Previously Invoiced" since these are now going out weekly instead of daily. See the most recent example below, could we change it to a week? Would that make more sense?

![image](https://user-images.githubusercontent.com/13784495/31823346-8ece255e-b571-11e7-8aa1-cb470ab41245.png)

[2017-10-20 14:46] BrendenPautsch-COM commented on #3
Riki,

I updated the query from
[code]

That should fix it.  I ran the report individually and the text appears correct (No Text)

Brenden

From: Riki Sjachrani [mailto:notifications@github.com]
Sent: Friday, October 20, 2017 8:35 AM
To: City-of-Madison/Development-Team-2 <Development-Team-2@noreply.github.com>
Cc: Pautsch, Brenden <BPautsch@cityofmadison.com>; Mention <mention@noreply.github.com>

[2017-10-26 15:57] ChrisBilik-COM commented on #14
I am ready to begin the next phase/testing of the water account import file.  Currently it checks if a file exists, if it does, checks row count and processes the file if data exists and the moves to archive folder.  If no file or no date, the file just goes to archive folder.  Emails are sent with the appropriate message.   I know there is a TR web part on this project, I am not sure what to do w

[2017-10-27 20:12] ChrisBilik-COM commented on #12
@RikiSjachrani-COM  Hey Riki can you find out the code they use to generate the sample xml files...looking for something along the lines of: FOR XML path ('Ticket'), ROOT ('Tickets'), ELEMENTS XSINIL.  I want to know what output format they are using so I can mimic it as close to possbile

[2017-10-27 20:13] ChrisBilik-COM commented on #12
@RikiSjachrani-COM  Hey Riki can you find out the code they use to generate the sample xml files...looking for something along the lines of: FOR XML path ('Ticket'), ROOT ('Tickets'), ELEMENTS XSINIL.  I want to know what output format they are using so I can mimic it as close to possible.

[2017-10-31 13:25] JacquelineGoltz-COM commented on #6
AMO changes and reports are in production.  Issues have been brought to our attention. Courtney forgot to tell us that Madison and Dane County Schools food service are included on the Health Inspection report.
We added that portion.  Subsequent reinspections are to also have the summary showing.  The changes are in test.

[2017-11-10 15:24] #6 closed

[2017-11-10 15:24] #4 closed

[2017-11-13 16:50] ChrisBilik-COM commented on #14
Here is a screenshot of the new Water admin page.   Fairly simple and easy to use. Does this work? Buttons, messages etc...

![water](https://user-images.githubusercontent.com/32718943/32737651-45345114-c860-11e7-8370-1fc73c43d73f.jpg)

[2017-11-14 15:10] KimGrittner-COM commented on #14
Looks good to me.

[2017-11-14 18:54] ChrisBilik-COM commented on #14
We need to install the latest MSACCESS and Excel drivers on the production box.  It can be found on the C drive of ERPBIZTALKTEST or at : https://www.microsoft.com/en-us/download/details.aspx?id=13255.  This SSIS job will not work without this as the files are .xlsx.  After that we can go through the steps of moving the  package to TestERPDataExports.  I need to see how things are migrated so I ca

[2017-11-14 19:23] KimGrittner-COM commented on #14
RikiSjachrani-COM do we need a new SR for the request for the server team to install the Office/Excel software on the production ERP Server?

[2017-11-14 21:33] RikiSjachrani-COM commented on #14
I will need to defer to the Net Admins on whether we can install the MS Access and Excel drivers. Please stand by

[2017-11-14 21:35] RikiSjachrani-COM commented on #14
@ChrisBilik-COM Is this absolutely required? If the Server Team doesn't allow MS Access and/or Excel Drivers, do you have an idea of alternative solutions? Maybe we could ask the file be a csv or tab delimited?

[2017-11-14 21:44] ChrisBilik-COM commented on #14
Yes it is required because it is greater than 65k rows...so yes we would need to re-work to be a flat file of sort, text file would be fine....keep in mind we should consider this driver going forward if we are going to be doing larger imports or exports.  Its basically adding the most current  MS OLEDB driver
![driver](https://user-images.githubusercontent.com/32718943/32806554-829ae70a-c952-11e7

[2017-11-15 14:35] ChrisBilik-COM commented on #14
Switching to csv is going to few hours or so...all my checks on record counts were based off sql script editor tasks that can be passed in the excel connections....txt/csv does not work that way.  Also need to set up the script tasks to look for new files types and change the connection managers and retest ssis, then update  and retest TR Web

[2017-11-15 14:37] RikiSjachrani-COM commented on #14
@ChrisBilik-COM ok, thanks for the information. Hopefully our Net Admins allow the driver install then...we probably won't hear until next week

[2017-11-15 16:05] ChrisBilik-COM commented on #14
If we can confirm a standard file for csv or txt we'll be good to go too.  Just need to be consistent with file type.

[2017-11-15 16:52] ChrisBilik-COM commented on #14
.csv version is now working

[2017-11-16 19:01] ChrisBilik-COM commented on #12
I have the fields that have been mapped set in a sql statement to return as xml.  Only gotcha is the Violator/TicketRecipient address....(B3Contact) the address field is free text.  so it would need to be mega parsed...spoke with the folks here about it and not pretty.  Maybe we can map the address just as one...city state and zip are still separate.
![sample1](https://user-images.githubuserconten

[2017-11-20 16:27] RikiSjachrani-COM opened #15 "Civil Rights - Managing Service Request Changes and Issues"
CR - Have a better handle on Civil Rights issues and changes with AA Plans

It is difficult to keep track of changes and issues, be on the same page on changes and where things are at, better coordination with IT and CR staff

To accomplish this - Have a shared document that has a list of changes, issues, their status. Any new issues can be put into Git Hub prior to bein added to the shared docume

[2017-11-20 20:16] JacquelineGoltz-COM commented on #15
I created service requests for all outstanding issues and assigned them to me.  We can now run a report.

[2017-11-21 21:27] RikiSjachrani-COM commented on #14
@ChrisBilik-COM our net admins said it was OK to install those two drivers on the ERPBIZTALK and ERPBIZTALKTEST servers. Please proceed at your convenience

[2017-11-21 21:30] ChrisBilik-COM commented on #14
@RikiSjachrani-COM do I do that?  I cant login to those.  We'll chat tomorrow.

[2017-11-21 21:44] KimGrittner-COM commented on #11
The XML and XSD samples can be found here:
F:\Information Technology\Applications and Systems\ERPMiddleware\Active Project\SR-17-0000375 Integrate ERP with TiPSS\CitationPayments.xml
F:\Information Technology\Applications and Systems\ERPMiddleware\Active Project\SR-17-0000375 Integrate ERP with TiPSS\CitationPayments.xsd

[2017-11-22 15:10] ChrisBilik-COM commented on #14
The updated driver has been installed on ERPBIZTALK.

[2017-11-22 16:29] RikiSjachrani-COM opened #16 "SR-17-0000452 EN ROW Invoice ENGROW-2017-00870 calculating incorrectly"
EN ROW Invoice ENGROW-2017-00870 calculating incorrectly -

Engineering bills monthly their ROW permits using the report "ROW Monthly Billing Statement". They would bill at the first of the month for fees and invoices from the prior month. This also includes past due invoices.

Run the about report and enter in the month of 10 and year of 2017. Search for Gartland. If you look at the record in Acc

[2017-11-22 22:27] KimGrittner-COM commented on #11
Data Mapping Document located here:
F:\Information Technology\Applications and Systems\ERPMiddleware\Specifications\ERP Cashiering Middleware\Municipal Courts\MuniCourtSpecifications2017.xlsx

[2017-11-29 17:38] ChrisHagen-COM opened #17 "Create Sanitary Kitchen Permit"
OneNote specifications can be found here:

F:\Information Technology\Applications and Systems\Accela\Active Projects\Engineering Sanitary Permit and Rest Class Billing\Specifications

[2017-11-29 17:39] #17 closed

[2017-11-30 15:50] RikiSjachrani-COM commented on #11
https://webapp/epayment/municipalCourt/form.cfm
I think this is the test epayment muni court site

[2017-12-07 19:40] RikiSjachrani-COM commented on #2
@ChrisHagen-COM I met with Megan on your work with the Permit, she likes it and there are just two changes that she would like.

- [ ] Add a new ASI Field called "Mixed Use Building" - I've added this to the one note
- [ ] Change the workflow task assignments to go to "Eng Stormwater & Erosion Control"

After those two changes, you are free to move this to test.

[2017-12-14 21:36] RikiSjachrani-COM opened #18 "SR-17-0000467 BI New Record Type Zoning Portable Sign Permit"
"Need to add a new sign permit type with a modified workflow for portable signs in the right of way that are now allowed by ordinance.  The ordinance specifies that the portable sign permit shall only be valid for a period of one year and must be renewed on an annual basis so this will also need to function like a landlord renewal process with a recurring annual expiration / renewal.

Keep track o

[2017-12-19 18:37] RikiSjachrani-COM opened #19 "SR-17-0000475 FD Increase Fees"
FD Increase Fees -

Fire will be increasing their fee's in 2018 by about 25%. This still needs to go through Common Council and would then need to be activated in production the next day. We will pre-emptively get these in as a new fee schedule and then set the effective date once we know when it's going to be in place.

This should include all Fire Fees except Elevators.

- [x] First we need to p

[2017-12-19 18:39] RikiSjachrani-COM commented on #19
![image](https://user-images.githubusercontent.com/13784495/34173017-98fdc576-e4b9-11e7-8719-1b1cd146039a.png)

[2017-12-19 18:45] RikiSjachrani-COM commented on #14
What's the status of this? I'm going through requests that haven't had much progress lately and wondering what would be the next step to getting this moving again?

[2017-12-19 18:57] ChrisBilik-COM commented on #14
Its good to go either txt or excel.  Kim and I are going to set up for test this afternoon.

[2017-12-20 19:31] ChrisBilik-COM commented on #14
Added source type WTRACT

[2017-12-20 21:19] RikiSjachrani-COM commented on #14
What do you think of this for verbiage:

Please use this screen to update the Water Customer and Account Number data. This data is used when the Treasurer's imports the Bill Consolidator file and acts as a lookup.

This is an import into Middleware, so the file has very specific requirements.
1. It must be an excel file
2. It must contain all the customer and account numbers, this process does not

[2017-12-20 21:20] ChrisBilik-COM commented on #14
works for me....I already got the part in where it wont allow anything other then excel files to upload.  Ill start this part next!

[2017-12-20 21:29] JaneSchneider-COM commented on #14
Two minor edit suggestions:
1. Replace "Hit" or "hit" with "Click" or "click".
2. In the file requirements numbered list, change #2 as follows:
       It must contain all the customer and account numbers (i.e., this process neither adds nor keeps previous records).

[2017-12-20 21:57] ChrisBilik-COM commented on #14
![wat](https://user-images.githubusercontent.com/32718943/34230695-87f907a0-e59e-11e7-80d2-96082604a1ab.jpg)

[2017-12-20 22:17] JaneSchneider-COM commented on #14
Two minor edits:
1. Add space after "numbers" in #2 of first ordered list.
2. Make Click lowercase in #4 of second ordered list.
![trwebtextedits](https://user-images.githubusercontent.com/30414577/34231283-0990d49e-e5a1-11e7-9c36-a2e90a020209.JPG)

[2017-12-21 16:02] ChrisHagen-COM commented on #19
Attached is the updated Fire schedules

[Fee Schedules.xlsx](https://github.com/City-of-Madison/Development-Team-2/files/1579734/Fee.Schedules.xlsx)

[2017-12-21 19:14] RikiSjachrani-COM commented on #19
Sent an email to Bill and cc'ed @ChrisHagen-COM

[2018-01-03 15:10] RikiSjachrani-COM opened #20 "SR-18-0000003 FD Guide sheet changes and routine annual inspection scheduling"
SR-18-0000003 FD Guide sheet changes and routine annual inspection scheduling

This is a bi-annual process to schedule all the routine inspections for the stations. At the beginning of the year, Jerry often has changes to the existing guide sheets. Since the Guide Sheets are added at the time the inspection is scheduled, these changes need to occur prior to the batch.

 - [x] Wait for updated guid

[2018-01-05 16:09] RikiSjachrani-COM opened #21 "SR-18-0000009 IT Convert over to using Business Rules Engine"

[2018-01-08 20:50] ChrisHagen-COM commented on #2
I ran this on test. It was very slow to run on there, it looks like I accidentally ran it twice.

I had it limited to < 10, so it created 9 new child cases twice. This should be ready to put into a batch file and run after commenting out the aa.print lines.

[2018-01-08 21:07] ChrisHagen-COM commented on #2
[working script .txt](https://github.com/City-of-Madison/Development-Team-2/files/1613041/working.script.txt)

[2018-01-09 18:28] ChrisBilik-COM commented on #14
Need to copy the WaterAdmin.aspx and the Default.aspx from the wwwroot\trweb folder.  Also need to copy the ERPLoadWTRSCCT.dtsx file from the ERPDataxports folder.

[2018-01-09 18:31] ChrisBilik-COM commented on #14
also need to run 64bit access/excel driver on Server.

[2018-01-10 16:20] JacquelineGoltz-COM commented on #20
@RikiSjachrani-COM  The Guide Sheets are updated in Dev, Test and Production.

[2018-01-10 19:52] ChrisHagen-COM commented on #2
updated to do list.

[2018-01-11 17:50] ChrisHagen-COM commented on #2
added workflow on dev/updated batch

[2018-01-18 22:11] #20 closed

[2018-01-26 15:40] #14 closed

[2018-01-29 16:37] RikiSjachrani-COM commented on #12
@ChrisBilik-COM so we can't import duplicate citation numbers right?

[2018-01-29 16:43] ChrisBilik-COM commented on #12
@RikiSjachrani-COM correct...if I put an xml file with the same citation number, the interface will not import the data and gives an error to the extent of record already exists

[2018-01-29 17:03] RikiSjachrani-COM commented on #12
@ChrisBilik-COM ok, I think I got the query in a decent place, it's not fool proof but just looking through the records I think it should work since the fields that we are passing on don't change very much between duplicate citations. I have it working from a Thursday 6:00 am to previous Thursday 6:00 am. I also feel like it would be good to either make this a view or stored procedure to make it e

[2018-01-29 18:08] ChrisBilik-COM commented on #12
@RikiSjachrani-COM  lets try the view idea.  I need to see how SSIS will handle because it was using a temp table...I don't think it should matter so lets get that created and Ill work on verifying the xml output is still good.  From there we can do some decent front and back end testing....minus the address part.

[2018-01-29 20:22] RikiSjachrani-COM commented on #12
Do you have the elam dev account password? If you give me the sql, I will create the view in Dev and Test (I'll point Test to the Replication Database)

[2018-01-29 20:35] RikiSjachrani-COM commented on #12
ok, I created the view it's called vwWeeklyCitations

[2018-01-29 20:51] ChrisBilik-COM commented on #12
All good on SSIS side using the view...33 xml files created for the date range specified.

[2018-01-30 15:16] RikiSjachrani-COM commented on #12
So from my notes we still need to sort out the "Ticket Type" so that it's Building Inspection etc...and the court date time?

[2018-01-30 15:20] ChrisBilik-COM commented on #12
Ticket Type yes, court time I did based off of Crystal logic
   CASE when
	    right(cast(vwVC.CNumber/2 AS decimal(8,2)),2)=50
		THEN '09:30:00 AM'
		ELSE '08:30:00 AM'END AS MDTY_APRN_TM,

[2018-01-30 15:45] RikiSjachrani-COM commented on #12
- [ ] Contact Time and Date are mixed up
 - [ ] HIDDENUSERFN and HIDDENUSERLN could be filled in
 - [ ] INCD_RPT_NARR could be mapped to the inspection descript
 - [ ]
 - [ ]
 - [ ]

[2018-01-30 16:01] ChrisBilik-COM commented on #12
inspection decript....is that the same as description of violation?  other 2 are done

[2018-01-31 21:34] RikiSjachrani-COM commented on #11
Hey, @KimGrittner-COM @JaneSchneider-COM @ChrisBilik-COM where are we at with this project. I'm thinking of allocating time for the Cashiering portion of the project in Feb and wondering if the other parts of this project is progressing.

[2018-01-31 23:33] JaneSchneider-COM commented on #11
@RikiSjachrani-COM @KimGrittner-COM @ChrisBilik-COM: Pretty much done in Dev...I think we just need to do TR Web test in Dev environment to make sure both import and export are working.
Then we can finish moving everything to Test environment (about 50-60% done).

[2018-02-01 18:54] RikiSjachrani-COM opened #22 "SR-18-0000052 AA Plan Renewal"
AA Plan Renewal - This SR is for the work involved with the AA Plan renewals

 - [x] Meet with Jackie and get oriented with project requirements
 - [x] Figure out how the renewal options work with recent changes - Civil Rights will go with the Copy Record functionality
 - [x] Meet with Norman and present different renewal options

Riki 2/6/2018 - After meeting with Norman, they would like the foll

[2018-02-07 20:36] JacquelineGoltz-COM commented on #22
I have a new batch script CIVILRIGHTSAAPLANABOUTTOEXPIRE in Dev.

[2018-02-08 21:30] JacquelineGoltz-COM commented on #18
@RikiSjachrani-COM
We need a specs for the App Statuses, the example on the PDF is not clear.
[Statuses.pdf](https://github.com/City-of-Madison/Development-Team-2/files/1708867/Statuses.pdf)

[2018-02-08 21:38] RikiSjachrani-COM commented on #18
The statuses on the left, under status description are them

[2018-02-08 22:32] RikiSjachrani-COM commented on #22
@JacquelineGoltz-COM ok, I think the higher priority is to get the White Males to show up for new Copy Record AA Plans.

[2018-02-14 16:19] RikiSjachrani-COM opened #23 "SR-18-0000070 CL Operator Renewals"
CL Operator Renewals - This SR is to deal with Operator Renewals for 2018.

 - [ ] Revisit the renewal process and see what documentation is available
 - [ ] Get email sample to review
 - [ ] Setup meeting in March
 - [ ] End of April is when the About to Expire occurs
 - [ ] End of June is when the Expire occurs

[2018-02-14 16:26] JacquelineGoltz-COM commented on #22
@RikiSjachrani-COM   I was able to use the example Jane provided to clear the text boxes on 46-48 as well as the question 78 checkboxes in Dev for Public Works.  I will complete CBO and Vendor next.

[2018-02-15 19:53] RikiSjachrani-COM commented on #22
@JacquelineGoltz-COM and @PaulOLeary-COM ok, I'm looking into the issue with the empty WAGS table causing an emse error

[2018-02-22 17:20] ChrisHagen-COM commented on #2
[fixed batch script.txt](https://github.com/City-of-Madison/Development-Team-2/files/1748825/fixed.batch.script.txt)

Batch script that fixes the capital M on "Tier 2 - Well Maintained" to "Tier 2- Well maintained"

[2018-02-28 21:42] #22 closed

[2018-02-28 21:44] RikiSjachrani-COM commented on #12
Put this in the Ice Box until there's some movement on the import issues with Tyler

[2018-02-28 22:02] #18 closed

[2018-03-01 17:45] ChrisHagen-COM commented on #2
[fixed batch script V3.txt](https://github.com/City-of-Madison/Development-Team-2/files/1772205/fixed.batch.script.V3.txt)

This should be the final version of this hopefully. Setss all 4 CIS AND SERVICE RATE INFO fields so that the SQL update script can run correctly.

[2018-03-01 17:51] ChrisHagen-COM commented on #2
SQL Script to update CIS information.

The table "MadisonAccela.dbo.RestCISData" needs to be imported from accelaStage to prod before executing this on prod.

[rest batch.txt](https://github.com/City-of-Madison/Development-Team-2/files/1772225/rest.batch.txt)

[2018-03-05 22:40] RikiSjachrani-COM opened #24 "SR-18-0000089 EN Accela AMO for mobile inspections"
EN Accela AMO for mobile inspections - Engineering would like to use Accela AMO to perform their Erosion Control Inspections. From the meeting I had with Daniel Olivares, Theresa Nelson, and Matt Allie what IT would need to do is

\\Fps1\Information Technology\Applications and Systems\Accela\Engineering\SR-18-0000089 EN Accela AMO for mobile inspections

 - [x] Set up Accela so that it automatical

[2018-03-06 19:28] ChrisHagen-COM commented on #2
[fixed batch script V4.txt](https://github.com/City-of-Madison/Development-Team-2/files/1786390/fixed.batch.script.V4.txt)

This version fixes the imit of 10. It also has the user it runs under changed to "admin" so that it doesn't look like your userID ran all of them.  ( systemUserObj = aa.person.getUser("ADMIN").getOutput();  )

It looks like when I uploaded version 2 to fix the "Tier 2 - Well

[2018-03-07 17:22] RikiSjachrani-COM commented on #24
@ChrisBilik-COM I added my notes as a one note at \\Fps1\data1\Information Technology\Applications and Systems\Accela\Engineering\SR-18-0000089 EN Accela AMO for mobile inspections

please take a look and let me know when you want to meet and discuss

[2018-03-07 17:29] ChrisBilik-COM commented on #24
10-4, reviewing now, ill set up a meeting....are you here Friday?

[2018-03-07 18:53] RikiSjachrani-COM commented on #24
Yeah, until 2:00

[2018-03-08 22:41] RikiSjachrani-COM opened #25 "SR-18-0000093 HE Sanitary Permit on ACA"
Allow Health Sanitary Permits to be submitted through ACA
Give outside customers the option to fill it out online, save health staff time from having to enter it manually, and allow staff to focus on other work

To accomplish this - Review the permit and meet with John on specifications, then follow standard development process

We will know we are making progress when we have a mocked up version

[2018-03-14 15:36] ChrisHagen-COM commented on #2
Created 3 views and added them to DEV/assigned permissions. Waiting for ADHOC to update itself so I can create reports.

Views are:
ENG_SANITARY_COMMERCIAL_KITCHEN    (Main permit)
ENG_INSPECTION_SANITARY_COMMERICAL_KITCHEN (INSPECTION, without the ASIT fields)
ENG_INSPECTION__SANCOMKITCH_MAINTLOG - ASIT table for the inspection already pivoted.

[2018-03-20 14:02] RikiSjachrani-COM commented on #2
Ran the batch, looks like it succeeded! The batch name is SR-17-0000280_BATCH. I'm going to start the process of updating the CIS and Account Numbers

[2018-03-20 15:33] RikiSjachrani-COM commented on #2
It looks like the Adhoc view that Megan used was missing some establishments. 91 Sanitary Permits did not get their CIS Account/Customer numbers populated. The Batch script worked good, it's just the RestCISData table was missing these.

I've created a simple query to identify these and will send them to Megan to fix.

[2018-03-20 15:46] RikiSjachrani-COM commented on #2
@ChrisHagen-COM do you have a query of the duplicate Sanitary Permits that Megan will need to Void?

[2018-03-20 15:51] ChrisHagen-COM commented on #2
@RikiSjachrani-COM  I do not.

[2018-03-20 17:29] RikiSjachrani-COM opened #26 "SR-18-0000103 IT ADS Backload – majority of working completed for back loading select Share Point documents into ADS"
IT ADS Backload - Bug from the project to switch over to primarily using ADS as the default EDMS instead of Share Point. Now, ACA users who need access to historical documents are not able to see them. This SR will create a .net project to be able to pull data from share point and load them into ads. Items to keep into consideration, we need to be able to select certain documents that haven't been

[2018-03-20 17:30] RikiSjachrani-COM commented on #26
@KimGrittner-COM hey, just made this workspace up, I was hoping to code through the code and shoot for running something this week.

[2018-03-22 15:19] JacquelineGoltz-COM commented on #25
Documents and other notes are kept at F:\Common\Jackie\Health\SR-18-0000093

[2018-03-22 15:23] JacquelineGoltz-COM commented on #25
Notes and additional documents are saved at F:\Common\Jackie\Health\SR-18-0000093

[2018-03-22 15:54] JacquelineGoltz-COM commented on #25
Deliverables from John

- [ ] List of required documents
- [ ] List of SystemTypes and Modifiers
- [ ] Headings for sections
- [ ] Description for entering multiple numbers on the sys elevation field

[2018-03-23 14:47] RikiSjachrani-COM commented on #2
@ChrisHagen-COM please put a sql query to help identify the duplicate sanitary permits

[2018-03-23 21:13] ChrisHagen-COM commented on #2
[Duplicate Sanitary Commercial Kitchen Permits.xlsx](https://github.com/City-of-Madison/Development-Team-2/files/1843506/Duplicate.Sanitary.Commercial.Kitchen.Permits.xlsx)

[2018-03-23 21:15] ChrisHagen-COM commented on #2
[Query For duplicate SCK.txt](https://github.com/City-of-Madison/Development-Team-2/files/1843513/Query.For.duplicate.SCK.txt)

[2018-03-26 19:00] ChrisHagen-COM commented on #2
I used the same table on DEV as before, [MadisonAccela].[dbo].[RestCISData] to upload the data to. I deleted the rows with green and made all the rows in yellow the appropriate cust/account number so they could search for them and void later.

The same batch script that was run before to load the data can be run again when you have copied it from DEV to TEST  :+1:
SQL Script to update CIS informat

[2018-03-27 21:25] RikiSjachrani-COM commented on #26
@KimGrittner-COM Check out the following code to update the ADS BDocument row with the Doc_Group and Doc_Department Share Point row.

Let's work on integrating this into the solution tomorrow

[Update BDoument from Share Point.txt](https://github.com/City-of-Madison/Development-Team-2/files/1853859/Update.BDoument.from.Share.Point.txt)

[2018-03-28 14:49] KimGrittner-COM commented on #26
I put the logging code into the project.  Works with the classes as well as the form.

[2018-04-03 17:54] RikiSjachrani-COM commented on #26
@KimGrittner-COM I have this working in Test and have been able to run it successfully. It takes around 11 seconds per document. I'm hoping you could alter the program to run by the exe and then close. I'm hoping to run it on a scheduled job on my computer or a server...

[2018-04-03 18:41] KimGrittner-COM commented on #26
The view also allows you to do whatever subset of documents you choose of course.  If  you run it for 1,000 documents and examine the results (TOP 1000) that might lead to a more accurate number in the production environment.

[2018-04-03 18:45] PaulOLeary-COM commented on #26
^^^^^ Right, my next comment was gonna be, once we determine the mechanism for running from the server (scheduled task, etc), our first "live ammo" run should be on a very small set. Possibly even tweak the View to select a set of records that doesn't immediately need this fix.

[2018-04-03 21:24] RikiSjachrani-COM commented on #26
@KimGrittner-COM , I have some time set aside tomorrow morning to get this to run through an exe and then I'd like to point to production and run a live test against 10 > 100 > 1000 records to see if we get a better rate. I'd really like to tell John Hausbeck that we are beginning to run these in production

[2018-04-03 22:01] KimGrittner-COM commented on #26
Ok, we can compile and run it in the morning then.

[2018-04-05 14:34] RikiSjachrani-COM commented on #26
![image](https://user-images.githubusercontent.com/13784495/38372440-74a445fc-38b4-11e8-9ffc-9b56a4c2f788.png)

[2018-04-06 20:11] ChrisHagen-COM commented on #19
Has there been any movement on this?

[2018-04-06 21:13] RikiSjachrani-COM commented on #19
@ChrisHagen-COM I've attached the most recent "In-Progress" fee updates, I'll ask whether they've made any additional movement on it, otherwise, please take a look and start to think about how to implement and track these fee changes.
[Accela MGO 2018 Fee.Schedules.xlsx](https://github.com/City-of-Madison/Development-Team-2/files/1885567/Accela.MGO.2018.Fee.Schedules.xlsx)

[2018-04-10 13:42] RikiSjachrani-COM commented on #2
I haven't taken a look, thanks for the follow up. I guess we should do the data update sooner rather than later, I'll find some time this after noon

[2018-04-11 17:42] RikiSjachrani-COM commented on #19
@ChrisHagen-COM this is set to go live by May 1st, could we get together and figure out the amount of remaining effort to get it into Dev...Test by next week?

[2018-04-11 18:09] RikiSjachrani-COM commented on #19
@JacquelineGoltz-COM I'm going to put a meeting together, we need to get this moving

[2018-04-12 17:04] JacquelineGoltz-COM commented on #19
Looks like someone already updated them in DEV.

[2018-04-12 17:06] RikiSjachrani-COM commented on #19
oh? I wonder how that happened? I wonder how far those changes went => Test? => Production?

[2018-04-12 17:08] JacquelineGoltz-COM commented on #19
The FIRLICENSE and FIRHAZMAT etc. are on Chris's part of the list.  IS there a different license fee that I am missing?

[2018-04-12 17:10] ChrisHagen-COM commented on #19
Yup, I'm just working my way down the list so that's why they were updated already.

[2018-04-12 17:10] RikiSjachrani-COM commented on #19
@ChrisHagen-COM when you provided the list of fee schedules for fire, you provided all of them including the License ones? If so, they should be accounted for in the updated spreadsheet

[2018-04-12 17:11] ChrisHagen-COM commented on #19
Yes, the first 5 on the list were licenses.

I think we removed the elevator licenses.

[2018-04-12 17:11] ChrisHagen-COM commented on #19
@RikiSjachrani-COM Those are all done updated at this point..

[2018-04-12 17:12] RikiSjachrani-COM commented on #19
I don't think there are any elevator licenses, we removed the elevator permits...just to clarify

[2018-04-12 17:51] RikiSjachrani-COM commented on #19
Let me take a look, what you are suggesting is plausible, I think all the fees are going up and none are dropping

[2018-04-12 18:44] RikiSjachrani-COM commented on #19
@ChrisHagen-COM about the FIRALSYS fee that switched, just go with the increased amount and don't drop it down at all.

@JacquelineGoltz-COM and @ChrisHagen-COM please add to the top of here any questions you may have, I'm going to give the fire guys a call tomorrow

[2018-04-12 19:33] ChrisHagen-COM commented on #19
@RikiSjachrani-COM
Everything is done in my section except the following few notes and few questions:

FIRECONEGR - spreadsheet shows ALTCES (Repair to Existing Cotrolled Egress) is dropping from 200 to 125. **Is this correct?**

FIRECONEGR - NACES - The new fee calls for "250 per 10 doors or fraction there of". The corresponding field showing the number of doors is a text field. **What is the bes

[2018-04-13 15:08] ChrisHagen-COM commented on #19
@RikiSjachrani-COM
RE:  FIRECONEGR - NACES -- '250 per 10 doors or fraction thereof' change

I did a search of all "List Controlled Doors" text field out there. Most of them have the number of doors, but there are some that have a unit number or some other text. So we can't convert what's there.

Maybe we need to create a new field like "Total Number of Controlled Doors added or altered" (Right no

[2018-04-13 16:36] ChrisHagen-COM commented on #19
@RikiSjachrani-COM

I don't think I can use any set fees because there is no way to force any sort of rounding. I think we need to use a script for that.

The calculation in script would be pretty easy:

fee = (Math.ciel({Scope of Work:List Controlled Doors} * 0.1) * 250)

[2018-04-13 17:32] ChrisHagen-COM commented on #19
@RikiSjachrani-COM

I realized I didn't post it here, I wanted to make sure you did know that I ensured the constant fee changes for FIRALSYS and FIRCONEGR are set per our meeting. Only thing outstanding is the FIRECONEGR/NACES which you told to hold on if I couldn't find a working built in formula.

[2018-04-13 19:05] RikiSjachrani-COM commented on #19
@ChrisHagen-COM can't we use something like FIXED_FEE_BY_RANGE_MULTIPLIER?

[2018-04-13 19:10] ChrisHagen-COM commented on #19
@RikiSjachrani-COM Re-reading it again, I guess I could try to set up one range going by the last line in the manual on this:

• If you set up only one range, the fee is always equal to the fee for that range multiplied by the user
input.

I'll see what happens.

[2018-04-13 19:28] ChrisHagen-COM commented on #19
@RikiSjachrani-COM Also, do you have the updated spreadsheet? Specifically the column names alias wording to the right of NACES? You showed me that this morning and said that I should alias the existing column (which I can't, per previous note above). I see the copy of the excel document in here is just a static copy so I can't see that change.
I took notes on the other stuff, formula, etc, and no

[2018-04-13 21:03] ChrisHagen-COM commented on #19
@RikiSjachrani-COM

I went ahead and set up a temp test field to at least test the fee changes while we decide on a permanent name.

I used FIXED_FEE_BY_RANGE_MULTIPLIER and used $FI10392$,250,10 as my range and added a fee and it did nothing with a value of 2 in the field.

I upped it to $FI10392$,250,10, 500, 20 and added a value and it calculated correctly. I changed that to 14 and it came back

[2018-04-16 14:25] RikiSjachrani-COM commented on #19
@ChrisHagen-COM I think you are correct that we will have to make an exception for this. We can talk further about using a formula or just stringing out the calculation with the FIXED_FEE_BY_RANGE Formula. The main thing would be so that they enter a value in the "Number of Doors" and they use 1 for the quantity of the fee item, then it calculates correctly. If we end up using a formula, we should

[2018-04-16 14:33] RikiSjachrani-COM commented on #19
I've attached my notes after meeting with Fire
[Accela.MGO.2018.Fee.Schedules v2.xlsx](https://github.com/City-of-Madison/Development-Team-2/files/1915731/Accela.MGO.2018.Fee.Schedules.v2.xlsx)

[2018-04-16 16:52] ChrisHagen-COM commented on #19
@RikiSjachrani-COM

I created a new field for FIRACCEGR called "Number of Doors". I was not able to change the text field into a number as noted before.

I setup the fee to go out to 300 ($7500). Everytime it is updated it triggers either
      CMN:Permitting/Fire/ControlledEgress/NA:Fee
or
      CMN:Permitting/Fire/ControlledEgress/NA:FeeACA

The ACA just sends an email to the customer and fire e

[2018-04-16 18:14] RikiSjachrani-COM commented on #19
@ChrisHagen-COM great I spoke with Bill and the most he's ever seen is 100 doors for UW West.

@JacquelineGoltz-COM please feel free to promote changes to Test if the QA is done. I'll deal with the Standard Choice change that replaces the reporting changes

[2018-04-16 18:43] RikiSjachrani-COM commented on #19
I'm modifying the following Standard Choices to make the Re-inspection Fee comment more general.

BIZDOMAIN	BIZDOMAIN_VALUE
FIRE ALARM PERMIT CONDITIONS	06
FIRE ALT SUPPRESSION COND	03
FIRE CONTROLLED EGRESS COND	05
FIRE SPRINKLER PERMIT COND	05

[2018-04-17 14:56] ChrisHagen-COM commented on #19
I added the new "Number of Doors" to FIRACCEGR. I added an alias to List Controlled Doors: "Controlled Doors (Historical)" and made it not viewable on ACA.

Will test Egress, then test all of jackie's items using a end user's credentials in Test.

[2018-04-17 16:04] ChrisHagen-COM commented on #19
@RikiSjachrani-COM

I tested this on Test as an end user and ran into an issue with 0 doors that we did not catch in dev. I then worked with @JacquelineGoltz-COM as a sanity check in what what happening.

This is concerning Permitting/Fire/ControlledEgress/NA.  Since the new fee for FIRCONEGR/NACES is a formula that uses a fee indicator, I have to make it required for it to work correctly. The iss

[2018-04-17 16:32] RikiSjachrani-COM commented on #19
I can double check with Fire, but wouldn't we expect at least 1 door for this type of permit, or why would they be applying for it.

Also,
1) Please remove the "Controlled Doors (Historic)" it's not needed anymore
2) Did anyone QA this in ACA?

[2018-04-17 16:35] ChrisHagen-COM commented on #19
@RikiSjachrani-COM

If I disable the List Controlled Doors/Controlled Doors (Historical) won't they not be able to see what was put in there on existing, open cases that are not using the latest fee schedule? Or does it still display on items that had it (I don't think I've ever done this, so I'm not sure)

Thanks

[2018-04-17 16:36] RikiSjachrani-COM commented on #19
It stays on historical records

[2018-04-17 16:42] ChrisHagen-COM commented on #19
@RikiSjachrani-COM

For the ACA testing I'm doing that as part of the next testing phase, including testing things internally as a user (Anne B). I changed the EML:Permitting/Fire/*/*:FeeACA to email @JacquelineGoltz-COM  and myself. It doesn't look like it does the fees when submitting from ACA, but I'll run through them to make sure.

[2018-04-17 16:44] RikiSjachrani-COM commented on #19
@ChrisHagen-COM I just want to make sure the new field is in ACA for the customers.

@JacquelineGoltz-COM are all the fees in Test then? I need to update the customer that it's ready

[2018-04-17 16:57] ChrisHagen-COM commented on #19
@RikiSjachrani-COM

@JacquelineGoltz-COM just informed me that it does do the fees on submission (it just doesn't displa any to the applicant)

When I tested the controlled egress it failed to submit and generated an error if the user puts in a 0. I will need to create a expression builder for that so that number entered is a 1 or higher.

Additionally I discovered that Permitting/fire/AltFireSupp

[2018-04-17 17:00] RikiSjachrani-COM commented on #19
Please work with Jackie on the Alternative Fire Suppression concern, I didn't think we need to add a new field for this...confused?

[2018-04-17 18:05] ChrisHagen-COM commented on #19
@RikiSjachrani-COM

For Permitting/Fire/ControlledEgress/NA    FIRCONEGR
I created a new Expression builder for ACA that places the message "The number of doors must be 1 or greater" that triggers on submission or edit of the Number of doors field and tested it successfully. This expression triggers a blockSubmit if the number is 0.

I then went in and tested the fees using Anne B's account to mak

[2018-04-17 18:08] RikiSjachrani-COM commented on #19
@ChrisHagen-COM is there not an existing field already?

[2018-04-17 18:16] ChrisHagen-COM commented on #19
@RikiSjachrani-COM    @JacquelineGoltz-COM  is looking over my shoulder, she confirms there's no existing fields to be repurposed. We need a numerical field on there.

We am guessing you'll need to check with fire on wording for field and to confirm the unit is Sq Foot. (and maybe confirm with them that they really did want to change this to a range formula, not just increase the constant to 250)

[2018-04-17 20:46] ChrisHagen-COM commented on #19
@RikiSjachrani-COM , @JacquelineGoltz-COM

Project Area has been added to Alternate Fire Suppression. Jackie also had me put in a tooltip for it as well as wording the message that occurs if someone sets the value at 0 to be "The square footage needs to be greater than 0".

This has been tested in TEST and DEV.

Based on a discussion with Jackie, Sharon and Myself I will also add a field called "A

[2018-04-17 20:48] ChrisHagen-COM commented on #19
email of conversation between jackie and bill attached
[FW Accela Fee 3or less .txt](https://github.com/City-of-Madison/Development-Team-2/files/1921539/FW.Accela.Fee.3or.less.txt)

[2018-04-18 15:17] ChrisHagen-COM commented on #19
@JacquelineGoltz-COM

I added the new fee, field, script changes and expressions needed to Alternate Fire Systems for the "Alter 3 or less Alternate Fire Suppression Devices". I'll write a followup document outlining the procedures needed to put all of those changes into place on PROD. I'll also include the changes needed for FIRCONEGR/NACES for the number of Doors.

Once you verify it is working

[2018-04-18 19:10] JacquelineGoltz-COM commented on #19
@ChrisHagen-COM I ran two records in dev for Alt Fire Systems and the fees are correct.  I did add an Onload Ex Bldr to hide the new field upon onload. I will move the change to test as well.
Bill wants to know if we can set him up to test.  Are we ready?

[2018-04-18 19:10] ChrisHagen-COM commented on #19
Below are the instructions to move this to production.

@JacquelineGoltz-COM  --- have you been able to test the "Alternate Fire Systems" so I can move from DEV to TEST?

[Fire Updates that involve more than Fee updates.pdf](https://github.com/City-of-Madison/Development-Team-2/files/1925455/Fire.Updates.that.involve.more.than.Fee.updates.pdf)

[2018-04-18 19:12] ChrisHagen-COM commented on #19
@JacquelineGoltz-COM Looks like we posted at the same time! :)

I have not finished going through all of them yet, I'm about halfway through. So far I haven't had any issues. But the new section has a lot of changes in Dev to other components - do you want to follow the instruction I just posted to push that up?

[2018-04-18 20:30] RikiSjachrani-COM commented on #19
@JacquelineGoltz-COM thanks for QA'ing my Standard Choice changes, I'll move them to Test. Also, Sharon wants the Alt Fire Suppression fee changes ready this afternoon and set the expressions back to be just read only. Less moving parts for the customer...

Sharon also wants be to get involved in anyway I can to completed this today, so let me know how I can assist with this.

[2018-04-18 21:19] ChrisHagen-COM commented on #19
@JacquelineGoltz-COM @RikiSjachrani-COM

Pushed expression builder modifications up to TEST.

It had stopped working correctly because a "FIRSUPP-OnLoad" expression had been added _in addition to_ the scripts I added. This script hid the "Alter 3 or less Alternate Fire Suppression Devices" onload, but is not needed because the FIRSUPP-Alter script runs onload as well and hides that field if the ch

[2018-04-18 21:30] JacquelineGoltz-COM commented on #19
@RikiSjachrani-COM @ChrisHagen-COM
Ok I am emailing Bill and telling him to test the Fire Alt Suppression. That checkbox issue needs to be resolved though.  I did run a record and you are correct the fees are assessing as required.

[2018-04-24 14:16] RikiSjachrani-COM commented on #2
Riki 4/24/2018 - @ChrisHagen-COM Updated specs to include adhoc report that Megan needs right away.

[2018-04-24 14:28] RikiSjachrani-COM commented on #2
4/24/2018 9:28:04 AM updating the CIS Data to Test and running noted batch

[2018-04-24 14:56] RikiSjachrani-COM commented on #2
4/24/2018 9:55:17 AM Updated CIS Prod and modified SQL. Saved to Project SQL directory

[2018-04-24 15:29] ChrisHagen-COM commented on #2
Is this the EMSE code to create a new permit whenever a new license is created? I tested it pretty well in dev and test already, and I think you did as well. I don't think we've changed anything since then except to add a new field for some CIS related in the ASI fields. All of those fields will need to be populated afterwards by engineering or water anyhow.

[2018-04-24 15:32] RikiSjachrani-COM commented on #2
Yeah, but she is now asking for an email from the script which I don't see. I don't even recall this being part of the SR so it might be scope creep. I am going to look into this further...

[2018-04-24 15:35] ChrisHagen-COM commented on #2
I don't think that was the plan. I believe the plan was to create a adhoc report that would allow them to see permits that had no CIS Billing information so that they could add them later. I think the reasoning was so that an email wouldn't be ignored/missed, and many times licenses are granted before utilities have been switched to the new entity.

[2018-04-24 19:29] ChrisHagen-COM commented on #2
@RikiSjachrani-COM IF you updated it, thank you. I tried again and noticed it took a lot longer to load Report Designer - all the fields were available this time.

[2018-04-24 19:58] RikiSjachrani-COM commented on #2
The data is cached and short of restarting the business layer, it will refresh up to a couple hours

[2018-04-24 20:34] RikiSjachrani-COM opened #27 "SR-18-0000139 IT Upgrade Accela"
To Do

Daily Log

Specs
onenote:///F:\Information%20Technology\Applications%20and%20Systems\Accela\Active%20Projects\Active%20Projects\SR-18-0000139%20IT%20Upgrade%20Accela.one#section-id={FCE2D006-5402-4F3E-A9D4-30C2F94704F8}&end

\\Fps1\data1\Information Technology\Applications and Systems\Accela\Active Projects\SR-18-0000139 IT Upgrade Accela

Get City of Madison's Accela up to the current supp

[2018-04-24 20:40] ChrisHagen-COM commented on #2
@RikiSjachrani-COM

Question: Many of the restaurants out there have multiple contacts. Looking through them most of them have "License Holder" as the primary, some of them have "Agent" or other as the primary. I am wondering if we should include just the primary's contact info & email, or if we should include both the primary and the license holder if needed. This could cause more than one for th

[2018-04-24 20:42] RikiSjachrani-COM commented on #2
@ChrisHagen-COM I think the main contact is the license holder and all of them should have one. The older ones may have a "Applicant or Contact" and newer ones may have the "Applicant". The main contact is the License Holder though, so let's go with that.

[2018-04-24 21:04] RikiSjachrani-COM commented on #2
@ChrisHagen-COM Let me take a look at it. I would rather create a adhoc data source view that looks at the Eng San Permit and most of the fields in a denormalized view. Something they could use themselves moving forward.

We might be better off meeting and working together on this so that we don't spend too much time on something that may not work for them

[2018-04-25 14:00] JacquelineGoltz-COM commented on #19
@RikiSjachrani-COM  Could you send me the link to the latest version of the spreadsheet?  Bill added two custom field changes that I want to track.

[2018-04-25 14:01] RikiSjachrani-COM commented on #19
@JacquelineGoltz-COM thanks for updating it, it's located at \\Fps1\data1\Information Technology\Applications and Systems\Accela\FireInspections\Change Requests\SR-17-0000475 FD Increase Fees and it's named Accela.MGO.2018.Fee.Schedules v3 wScope Changes.xlsx

[2018-04-26 12:09] JacquelineGoltz-COM commented on #19
@RikiSjachrani-COM Would you like to QA the new fee TNKREMCHG that Bill informed me of yesterday.

It replaces the 3 original fees for Tank Removal.

[2018-04-26 18:31] RikiSjachrani-COM commented on #2
I moved the scripting that creates the child sanitary permit to production. There's no email going out so we may need to clarify this with Megan

[2018-04-27 12:03] ChrisHagen-COM commented on #2
The default view of the the new ad-hoc report has it ordered by CIS account/customer # so any blank ones should show up at top.

Is there anything we need to do to create permits for the sanitary permits for the permits created between the batch run and yesterday?

[2018-05-01 13:55] RikiSjachrani-COM commented on #2
@ChrisHagen-COM 1) I started to develop a new record type in Dev that is similar to Deduct Meter Permit. It's called Restaurant Meter Permit or something. It stills needs the scripting, similar to the deduct meter applied to it.

2) Megan asked that we move the scripting for creating the Eng Kitchen San permit to production. I thought about doing that last week, but not sure how far I got

[2018-05-01 17:06] ChrisHagen-COM commented on #2
I verified #2 is up and running since the afternoon of 4/26. It does look like you completed it.

However the following may have slipped through between the batch job and the push of this process. (no new permits have been issued since 4/26 that fall under the criteria that I could find).

[Possible missing SCK permits.xlsx](https://github.com/City-of-Madison/Development-Team-2/files/1964567/Possi

[2018-05-01 18:14] RikiSjachrani-COM opened #28 "SR-18-0000133 HE: John Requested updating all the Health letters with the new Letterhead"
HE:  John Requested updating all the Health letters with the new Letterhead.

To Do
- [x] Getting a envelope from the proper agency
 x [ ] Create a excel file from database reports of all health reports
 - [ ] Go through and confirm whether they have letter heads - \\\Fps1\data1\Information Technology\Applications and Systems\Accela\HealthInspections\Changes\SR-18-0000133 HE updating Health letter

[2018-05-01 18:45] RikiSjachrani-COM commented on #28
1.	AgentPlanHoldLetter 	  13-2017-00113
2.	CitationAffidavitofMailing 	  01/01/2018
3.	ExistingSepticLetter 	  SAN-5693
4.	FailingPOWTSNoticeOrder 	  SAN-313
5.	HealthComplaintLog 	  Any Range
6.	HealthEnvrionmentComplaintReport	  HLTCOD-2018-00061
7.	HEBacti5Safe	  HEATNC-2011-01441
8.	HEBactiMCLLtr	  HEATNC-2011-01668 & TCR
9.	HEBactiRecind	  HEATNC-2011-01525
10.	HEBactiSafeLowNitrate	  HEATNC-

[2018-05-01 20:12] ChrisHagen-COM commented on #2
@RikiSjachrani-COM

For issue #1, I have the emse scripts in place for Sewer Restaurant Meter, but I do not have anything turned on for Inspections in the WTUA.

I wasn't sure if the existing Sewer Deduct process was going to be used for Restaurant meters too, so I wanted to make sure before creating something new for that. It almost looks like the emails are already setup to handle more than one

[2018-05-01 21:06] RikiSjachrani-COM commented on #2
@ChrisHagen-COM
1) Good it's in production. About the ones that were missed, are these ones that Megan will have to create manually or could we create them for her? Since it's our fault a bit (mine actually), would you mind creating these?

2) Yeah, I don't think we need the IRSA since Engineering isn't using this anymore. As far as the email is concerned, I think that's an ok approach. If you cou

[2018-05-02 19:52] ChrisHagen-COM commented on #2
@RikiSjachrani-COM

Thanks for pointing me in the right direction. The expiration code on the Sewer Deduct permit was set for Per_Aug, the new Restaurant one had "None" set. I changed it and the workflow worked. Testing the other portions of it now.

[2018-05-03 13:38] RikiSjachrani-COM opened #29 "Getting Started with GitHub"
Hello world!

[2018-05-03 13:49] ChrisHagen-COM commented on #2
@RikiSjachrani-COM

The new report has been added and creation of the workflow has stopped. I have the 2 emails going ont, the second one was supposed to include the child work order for the meter, I just have it as "Entter procedure here" so we can add in whatever we need to do for whatever new process is going to be used. (assuming we will do the same for the sewer deduct and sewer addition perm

[2018-05-03 14:33] ANavaGomez-COM commented on #29
This is a comment.

[2018-05-03 14:58] JimSchmitt-COM commented on #29
This also is a comment!

Jim

[2018-05-03 16:48] RikiSjachrani-COM commented on #29
Guys, I've changed this GitHub thread to be about Orientation. Please feel free to use this as a forum for questions, discussion about this weeks orientation.

[2018-05-04 15:30] RikiSjachrani-COM commented on #29
Ok, I've added you two to the one assigned to Chris, let me know if you see it now. @ChrisHagen-COM will you setup a meeting request and include @JimSchmitt-COM and @ANavaGomez-COM when you start to work on SR-18-0000144 CL Update ClassB Res/Grand Roster report?

[2018-05-04 15:32] ANavaGomez-COM commented on #29
I can see it now. Thank you.

[2018-05-04 16:10] JimSchmitt-COM commented on #29
Yeah, I can see it now, too.

[2018-05-04 18:03] RikiSjachrani-COM commented on #28
@JaneSchneider-COM I finished 1-42

[2018-05-04 21:43] JaneSchneider-COM commented on #28
I have finished 43-85. Some of these just have logo, but not full header, so not sure what to do about these, e.g., TAM 1 & 2 Cards; Reinspection Invoice; POWTS Management Plan.
Some others do have what looks like a full header, but it is not exactly the same as the one used by Well & Septic, e.g,. Temp Food Application; TAM Report.

[2018-05-08 19:50] ANavaGomez-COM commented on #29
Riki,

I think the bug in the report is found on this line of the query:

UPPER(dbo.FN_GET_APP_SPEC_INFO(BP.SERV_PROV_CODE, BP.B1_PER_ID1,BP.B1_PER_ID2,BP.B1_PER_ID3, 'Total New or Additional Area (incl. porches and decks)')) as ASITotalAddArea

Looking in Accela, I noticed that the custom field label actually reads:
"Total Area Being Repaired" And not "Total New or Additional Area (incl. porches

[2018-05-08 21:13] RikiSjachrani-COM commented on #2
@ChrisHagen-COM I'm going to take a look at where the Restaurant Class Meter Record type is at

[2018-05-08 21:39] RikiSjachrani-COM commented on #2
Looking good, I'm going to see if the new guys can update the report and clean it up a bit

[2018-05-08 21:50] RikiSjachrani-COM commented on #29
@ANavaGomez-COM could you please work on a report for a project that Chris and I are working on? They report is /Engineering/RestaurantSewerMeterPermit in SSRS Development. The changes that I'm asking for are embedded in the following PDF
[_Engineering_RestaurantSewerMeterPermit_20180508_162642.pdf](https://github.com/City-of-Madison/Development-Team-2/files/1985772/_Engineering_RestaurantSewerMet

[2018-05-09 13:04] ANavaGomez-COM commented on #29
Will do. Thanks.

[2018-05-09 13:41] ANavaGomez-COM commented on #29
This is done. I saved a copy of the report: "RestaurantSewerMeterPermit_italn".

[2018-05-09 15:48] RikiSjachrani-COM commented on #29
@ANavaGomez-COM please work with @ChrisHagen-COM on plumbing this new version in Report Manager and having it Tested and QA'ed in Dev.

[2018-05-09 17:37] ANavaGomez-COM commented on #29
Thank you Chris for going over the Restaurant Sewer Meter Permit Report with me in Dev. Please, let me know when we can go to the next environment.

[2018-05-09 17:48] RikiSjachrani-COM commented on #29
Please rename these "<<Expr>>" to be more reflective of what data is being presented
![image](https://user-images.githubusercontent.com/13784495/39830487-335efa18-5387-11e8-88cd-64e25f4f1d2c.png)

[2018-05-09 17:50] JacquelineGoltz-COM commented on #25
Sanitary Permit is created in ACA DEV. The custom fields are updated, the fees have been changed to meet the custom field structure through the standard choice scripts.  We are meeting with John on Thursday to show him our progress.

[2018-05-09 17:57] JacquelineGoltz-COM commented on #25
Issue I found.  When and application is submitted through ACA there is a problem with fees that I can't figure out. They assess properly but the Pay Fees page does not come up, the permit app submits.  When you search for the permit afterwards, the Pay Fees button is there and then it takes you to the cart.   Any assistance with this would be helpful, I compared it to the other permits and everyth

[2018-05-09 18:14] RikiSjachrani-COM commented on #15
Jackie, there's a request from Felicia for WAGs data for the Mayor, I'm going to start to develop a adhoc view for this

[2018-05-09 18:25] ChrisHagen-COM commented on #15
@RikiSjachrani-COM I'm just ploughing through the fire dept acct setup at the moment.

[2018-05-09 18:26] RikiSjachrani-COM commented on #15
Ok, I'm meeting with Brenden and then hopefully you can work on this

[2018-05-09 18:29] RikiSjachrani-COM opened #30 "SR-18-0000132 FD Re-assign Elevators and create Scheduled inspections"
FD Re-assign Elevators and create Scheduled inspections -
"Attached is the completed elevator spreadsheet to schedule Annual Inspections for all of our records. A few caveats:
•	If the record already has a scheduled Annual Inspection (under our new workflow) – don’t change it
•	If it does NOT have a scheduled Annual Inspection – schedule one for the date listed
•	Nothing else in the file changes e

[2018-05-09 18:31] ANavaGomez-COM commented on #29
@RikiSjachrani-COM , I have labeled all the expression fields to be reflective of the data they hold. The report is available in Dev now. Thank you.

[2018-05-09 19:42] RikiSjachrani-COM commented on #29
@ANavaGomez-COM Great! @ChrisHagen-COM is moving the new record type to test today and will bring over this new report as well. Since @ChrisHagen-COM is busy, @JimSchmitt-COM and @ANavaGomez-COM want to help me with some busy work for the Mayor! Stop over and I'll walk you through want needs to be done

[2018-05-09 20:12] RikiSjachrani-COM commented on #29
![image](https://user-images.githubusercontent.com/13784495/39836041-c0137384-5397-11e8-9a1d-3da51ca4473a.png)

![image](https://user-images.githubusercontent.com/13784495/39836098-e84dd2f4-5397-11e8-8101-09d64c9868d6.png)

Replace space with underscore
Remove special Characters
Try to shorten to 40 characters
ALT_ID => RECORD_ID

 - [ ] vw_AA_HEADCOUNT @ANavaGomez-COM
 - [ ] vw_AA_Plan_Fields @Ch

[2018-05-09 20:33] RikiSjachrani-COM commented on #29
@ANavaGomez-COM I see you put in a comment in the view, excellent!

"Comments are like dessert, something is better than nothing" - Riki Proverb

![image](https://user-images.githubusercontent.com/13784495/39838205-43089926-539e-11e8-9cab-767437abf1ac.png)

[2018-05-09 21:33] JimSchmitt-COM commented on #29
OK, I'm half done w/ the CR_AA_GOALS. . . .  I've created the view, replaced spaces with '_', and switched to uppercase.  The problem is that I'm having trouble locating the AAPLAN-2018-00138, so not able to re-order the field names.  I can pick up where I left off tomorrow.

[2018-05-10 00:12] ChrisHagen-COM commented on #29
@RikiSjachrani-COM

I pushed the new CR_AA_Plan_Fields view to DEV. Very complex, but I didn't want to be the hold up while renaming the 192 lines that are part of it!

all dates should be in date format using CAST.

[2018-05-10 13:17] RikiSjachrani-COM commented on #29
Guys, you Employee IDs have been added to the SPIF site and probably Self Service. I'll find a time to go walk through this. Do you have the url? http://ecmsliveportal/sites/IT1/SiteSearchPages/Home.aspx

[2018-05-10 13:18] ANavaGomez-COM commented on #29
Did not have the URL, thanks!

[2018-05-10 13:57] JimSchmitt-COM commented on #29
OK, found AAPLAN-2018-00138 on the live system. . . .  I thought that's the record you mentioned in the meeting yesterday, but now I see you've referenced AAPLAN-2015-0036 above.  I'll create a new view called CR_AA_GOALS_ITJAS w/ the fields reordered.

[2018-05-10 14:15] RikiSjachrani-COM commented on #29
@ANavaGomez-COM want to stop over and help me start working on this one adhoc report?

[2018-05-10 14:16] JimSchmitt-COM commented on #29
Fields are grouped a little better.  My changes are in "CR_AA_GOALS_ITJAS".  Do you want to look at it, Riki?

[2018-05-10 14:16] RikiSjachrani-COM commented on #29
Sure, let me take a look

[2018-05-10 14:28] ChrisHagen-COM commented on #29
It's there in AccelaDev now. I apparently pushed this to AccelaStage last night before I left.

[2018-05-10 14:49] RikiSjachrani-COM commented on #29
@ChrisHagen-COM After we reviewed some of these views, we realized that we will also need to re-cast the number fields in addition to the date one.

[2018-05-10 15:56] JimSchmitt-COM commented on #29
Have CAST the fields for CR_AA_GOALS. . . .

[2018-05-10 15:57] ANavaGomez-COM commented on #29
@RikiSjachrani-COM - Added CAST AS INT to all fields that represent numbers in view CR_AA_HEADCOUNT, in DEV.

[2018-05-10 17:43] RikiSjachrani-COM commented on #29
The CR_AA_GOALS and CR_AA_HEADCOUNT look great in Dev. I'm going to move these and the CR_AA_EXEMPT_GEN_INFO, CR_AA_COLLECTIVE_BARGAINING, and CR_AA_RECORD to Test. Any luck on recreating that report?

[2018-05-10 17:43] ChrisHagen-COM commented on #2
@RikiSjachrani-COM

This has been pushed to test.

here is a one note export with all the instructions that I setup in such a manner that it may be used as a learning tool if needed:

[Rest Sewer Meter.pdf](https://github.com/City-of-Madison/Development-Team-2/files/1992674/Rest.Sewer.Meter.pdf)

[2018-05-10 18:33] RikiSjachrani-COM commented on #29
Yeah, we might want to recreate a record from the spreadsheet as a target to get around some of the bad data. Also, I think we should deal with the nulls when casting certain fields to int, decimal, and dates to the following. Are you guys familiar with the use of ISNULL()?

[2018-05-10 18:40] RikiSjachrani-COM commented on #29
I've recreated AAPLAN-2018-00001 to be similar to Abby Vans, Inc.

[2018-05-10 18:43] JimSchmitt-COM commented on #29
Will update views w/ ISNULL.  Also, bit of trivia for you folks--Abby Vans, Inc. is from my hometown of Neillsville, WI!

[2018-05-10 18:51] ChrisHagen-COM commented on #29
I think the number fields that are text in the aa_plan view are only the "PROMOTIONS" subgroup. It looks like all of the other fields that are referenced are legitimately text. This view doesn't pull in the numerical fields from the TOTALS subroup.

Let me know if I should try to CAST these text fields into numbers.

For the ISNULL - what default date should we fill in if there is a no date?

[2018-05-10 19:40] RikiSjachrani-COM commented on #29
I believe the default date for nulls is 1900-01-01 but a quick Google should suffice. I'm thinking of moving this out to a separate issue since it has deviated from the intent of this thread

[2018-05-10 19:40] JacquelineGoltz-COM commented on #25
Look for SR related to Sanitarian notification email
Add Plan Review Fees and misc rev to dropdown, change other to system type

[2018-05-10 21:01] ANavaGomez-COM commented on #29
@RikiSjachrani-COM , @JimSchmitt-COM  - I added a test report named: italn_test\italn_first_report\italn_first_report - The last fields that shows column "**DISABLED**" has an expression in it that gives the R/E# aggregated value. Click the gauge to see it. In order to create a field like this one, a field from the view most be selected to be used as a "placeholder", and enter a name ins the descr

[2018-05-10 21:03] RikiSjachrani-COM commented on #29
@ANavaGomez-COM I'll take a look at reply with any questions...I'm kind of stumped as how to do this through Adhoc...

[2018-05-10 21:04] ANavaGomez-COM commented on #29
Yes, it is a bit cumbersome

[2018-05-10 21:07] ANavaGomez-COM commented on #29
![image](https://user-images.githubusercontent.com/38921618/39894391-48080e4c-546c-11e8-8f71-ab6684ad2c74.png)

[2018-05-10 21:27] BrendenPautsch-COM commented on #30
Riki,   I have created 4 of the 5 queries and I am finalizing the Insert New Inspections.  I created the queries looking at the RptRepl data source, but I will test them against Dev early next week when I get back in.  I hope to have the queries ready for review by Tuesday.

- Brenden

[2018-05-10 21:30] RikiSjachrani-COM commented on #30
Where are the queries at? I would like to take a look at them

[2018-05-10 21:38] BrendenPautsch-COM commented on #30
I have them in my SR folder on my personal folder.

The main file is the 18-0000132 where all the queries except the insert the new inspections, that I am not done with yet.  I tried to note what each section of code does.  Also since the RptRepl data base is on ELAMDBTEST, I used the MadsionAccela DB on that instance fir the temp table  (zzElevatorTemp).  My plan is once I get the queries ready t

[2018-05-11 14:11] JimSchmitt-COM commented on #29
I've got adhoc displaying the data for Abby Vans. . . .

[2018-05-11 14:13] RikiSjachrani-COM commented on #29
I see that, very nice. You'll have to show me how you got those functions to work without erroring...could I snag your version to check out? Also, how do we add the totals at the bottom on the report?

[2018-05-11 14:14] JimSchmitt-COM commented on #29
![abbyvansadhoc](https://user-images.githubusercontent.com/38922244/39928723-a63e75dc-5525-11e8-969c-6ae9717f4590.jpg)

[2018-05-11 14:17] JimSchmitt-COM commented on #29
Totals?!?  D'oh!  Will have to look at that. . . .

I've got my version saved as "itjas_utilization_by_company" in adhoc

[2018-05-11 14:18] RikiSjachrani-COM commented on #29
I'll add more data so that the totals will work, stand by

[2018-05-11 15:51] RikiSjachrani-COM commented on #29
AAPLAN-2018-00002 can also be used

[2018-05-11 19:01] RikiSjachrani-COM commented on #29
@ANavaGomez-COM or @JimSchmitt-COM, if you could, could you please update the view "CR_AA_PLAN_FIELDS" and cast the Number fields and also default the nulls and blanks appropriately? Thanks

[2018-05-11 19:29] JimSchmitt-COM commented on #29
I can work on it.  It looks like some of the values are invalid in some cases.  For example "PROMOTIONS_TOTAL_LAST_YEAR" has <NULL>, numerical values, and text values.  I'm guessing that replacing the text values and <NULL> with 0 would be appropriate?  Other fields such as "SUBCON_YES_ARE_SUBCON" contain <NULL>, "Checked", and "Unchecked". . . .  I'm not sure what to do with those.

[2018-05-11 20:13] RikiSjachrani-COM commented on #29
@JimSchmitt-COM thanks, the checked and unchecked are the valid for checkboxes so let's leave those. the number fields are the main concern if we end up doing any math

[2018-05-11 21:35] JimSchmitt-COM commented on #29
Finished up changes to "CR_AA_PLAN_FIELDS" view. . . .  Went a little crazy with the checked/unchecked validation as I was already committed by the time I saw your message.  I have a copy of the view before I started if we would need to back out my changes for some reason.  Have a good weekend!

[2018-05-14 13:56] JimSchmitt-COM commented on #29
Still working on the Utilization report.  Looks pretty good except for Avg %.  I'm computing a value for Avg % using an expression (for Avg R/E  %):

Unknown field "SELECT" at expression:

[code]

[2018-05-14 14:01] JimSchmitt-COM commented on #29
OK, fat-fingered something there, and saved w/o finishing my edits.  GitHub is not my friend today!  Seems like it's always hanging, getting locked up, not responsive, etc.  Anyway. . . .

SQL is what I meant to add.  Problem is that even though it calculates the correct value when in SQL Server Management Studio, it is throwing the error:

[2018-05-14 14:10] JimSchmitt-COM commented on #29
OK, having more trouble with GitHub. . . .

Gist of it is that I've figured out a SQL expression that returns the value we want, but can't enter it because I'm getting a possibly bogus error in adhoc reporting.  The reason I say it's "possibly bogus" is that adhoc reporting won't even display the SQL that it is saying is invalid.  I find that frustrating!

Anybody having any luck?

This is all I h

[2018-05-14 14:18] JimSchmitt-COM commented on #29
Well. . . . Now that I think about it, my SQL would not really solve the problem because it contains a hard-coded filter.  That would defeat the purpose of using adhoc reporting.

Back to the drawing board!

[2018-05-14 14:40] JimSchmitt-COM commented on #29
@ANavaGomez-COM-The problem is not in adhoc reporting.  Individual records in Accela Automation have been saved with invalid data:

Company                        RE#         Female#     Disability# Total
------------------------------ ----------- ----------- ----------- -----------
Abby Vans, Inc.                31          0           0           31
Abby Vans, Inc.                7           40

[2018-05-14 14:46] JimSchmitt-COM commented on #29
I'm getting increasingly frustrated w/ GitHub.  My session is locking up so that I can't type anything.  It seems to save at random times, and other times it is refreshing the screen for the longest time (getting the message from windows about terminating a long-running script).

You guys having any of these issues?  Is there something I'm doing?  Or, do I have something set up wrong?  It seems to

[2018-05-14 16:19] JimSchmitt-COM commented on #29
@RikiSjachrani-COM Ran the updates and rebooted several times.  The updater indicates that there are missing updates, but the installer doesn't seem to be installing them, so called the helpdesk back.  Showed Johnny what I was doing, and we went through an "updater/reboot" cycle together.  Now he's going to do some more research and call me back.

Latest status is that
1) Github had me logged in a

[2018-05-14 17:19] BrendenPautsch-COM commented on #30
Riki,  I have attached the SQL File.  I have run it as is with the transaction rollback against DEV and placed my notes in the header.  Please review.  I want to have this reviewed before I run against the DEV without rollback to make sure I everything covered because making any updates my be difficult and hard to verify.

Also, the only question that I have is when I update the Inspection from An

[2018-05-14 19:04] JacquelineGoltz-COM commented on #25
@KimGrittner-COM  We will need to go over various expression builder scripts that need to be put in place also.

[2018-05-15 15:02] ANavaGomez-COM commented on #29
Whilst watching a video I found in the Accela Community:

**[Training - Ad Hoc Reports - How to Concatenate Fields](https://accela.force.com/success/kA732000000XZw6?srPos=6&srKp=ka7&lang=en_US)**

The presenter includes in one of the slides a URL to documentation on [Ah Hoc Report Design](http://wiki.izenda.us/Guides/ReportDesign)

In section [15.1 Expressions Basics](http://wiki.izenda.us/Guides/

[2018-05-15 18:43] BrendenPautsch-COM commented on #30
Ok, Let me know, if not I can change it.

From: Riki Sjachrani [mailto:notifications@github.com]
Sent: Tuesday, May 15, 2018 1:41 PM
To: City-of-Madison/Development-Team-2 <Development-Team-2@noreply.github.com>
Cc: Pautsch, Brenden <BPautsch@cityofmadison.com>; Mention <mention@noreply.github.com>
Subject: Re: [City-of-Madison/Development-Team-2] SR-18-0000132 FD Re-assign Elevators and create Sc

[2018-05-16 16:26] BrendenPautsch-COM commented on #30
Riki,
Can you follow up with FIRE and see how they want to deal with 431 Permits assigned to UW, Keep them as assigned?

Here are some of the stats:
![fd stats](https://user-images.githubusercontent.com/30356949/40129899-070097d0-5925-11e8-8d43-198a62d4b3f0.PNG)

I used the following to determine if the Permit is active:
WHERE
	BP.SERV_PROV_CODE = 'MADISON'
	AND BP.REC_STATUS = 'A'
	AND BP.B1_PER_

[2018-05-16 19:27] RikiSjachrani-COM opened #31 "SR-18-0000156 EN Update the phrase"
EN Update the phrase "Street Encroachment permit" to "Encroachment Agreement, Lease, License, or other applicable Agreement must be attached" under the section "ENCROACHMENT INFORMATION" -

The change was requested from Engineering and we need to apply it to the SSRS Version of the report.
I'm attaching the Permit from production and will recreate it in Dev for comparison. The production report is

[2018-05-16 19:55] RikiSjachrani-COM commented on #31
Riki 5/16/2018 - Update to scope. They would like the phrase to be updated to "Encroachment Agreement, Lease, License, or other applicable Agreement must be attached"

[2018-05-16 20:08] RikiSjachrani-COM commented on #30
I'm just going to send a meeting invite to Jerry and include you and Jackie as well.

[2018-05-16 20:25] RikiSjachrani-COM opened #32 "SR-18-0000157 HE Temp Food license renewal revisit"
HE Temp Food license renewal revisit - Just want to ensure the renewal process for these licenses will go smooth. Things I'd like to accomplish
 - [x] Review on renewal process
 - [ ] Any outstanding issues?
 - [ ] Do we have documentation
 - [ ] Place holder for additional work

[2018-05-16 20:50] JimSchmitt-COM commented on #29
I've updated the field names in "Sewer Meter Permit" and saved my changes in a temporary report "SewerMeterPermit_itjas".  I tested the report in SSRS w/ record "ENGSAM-2018-00274" that I created, but I'm not sure how to proceed from there.  I know we had update Accela to call our modified SSRS report, but I can't remember how to access that functionality.  Is that what I need to do?  Should I hav

[2018-05-16 21:04] RikiSjachrani-COM commented on #24
@BrendenPautsch-COM, Engineering is planning on doing inspections on their Erosion Control Permits and they want to have similar reporting options that you did for ROW Permits. So this would be a Adhoc Data view (or MadisonAccela Table) that has the inspection data at their finger tips.

How much effort would it be to duplicate what you did for ROW Permits but for Erosion Control Permits? There mi

[2018-05-16 21:29] JimSchmitt-COM commented on #29
OK, I remembered to go into Accela=>Administration=>Report=>Report Manager, etc. and change the report to my test report.  I created a new record "ENGSAM-2018-00276", made payment, and sewer permit was produced as expected. . . .

[2018-05-16 21:42] ANavaGomez-COM commented on #31
Working on it.

[2018-05-16 21:53] ANavaGomez-COM commented on #31
@RikiSjachrani-COM  - This is update is done.

[2018-05-17 13:18] JimSchmitt-COM commented on #29
@RikiSjachrani-COM--looks like I forgot to tag you yesterday. . . .

[2018-05-17 14:37] ANavaGomez-COM commented on #31
@RikiSjachrani-COM - I will send a meeting request to test the reports I modified yesterday.
Here are a couple of ALTIds to use for testing:

`--encroachment
ENGROW-2016-00001
--fire order
FIRELV-2014-00183 `

Thanks.

[2018-05-17 15:30] RikiSjachrani-COM commented on #30
Sounds like the things we have to do are as follows, please let me know if I'm mistaken to missed something
 - [ ] Not on SS should stay assigned - No change in assignment here
 - [ ] Create new user in the elevator group named "UW Elevators"
 - [ ] Assign all the 413 elevators to this new user
 - [ ] Run the script in production
 - [ ] After the script, let's look at the Adhoc Reports under Eleva

[2018-05-17 17:41] RikiSjachrani-COM commented on #29
@JimSchmitt-COM I'm going to take a look at this

[2018-05-17 17:50] RikiSjachrani-COM commented on #29
To move these SSRS reports to Test, the follow in the name of the SSRS Test repository http://elamsql1/reportserver_test2014

[2018-05-17 17:50] ChrisHagen-COM commented on #30
I created a new elevator user named "FDUWELEVATORS" in dev/test/prod.

[2018-05-17 18:13] ANavaGomez-COM commented on #29
@RikiSjachrani-COM - Working on it.

[2018-05-17 18:33] ChrisHagen-COM commented on #2
@RikiSjachrani-COM

Have you heard anything back from Megan on the permit expire date?

My plan is to create a new line in CMN:Permitting/Engineering/*/NA:CalculateExpireDate that will check to see if this is a rest class and edit the date. However, this hinges on the permit expire date being 90 days after the estimated date piping is completed.

The other concern I have is how to check for the ex

[2018-05-17 19:04] JimSchmitt-COM commented on #29
@RikiSjachrani-COM - Have sewer meter report fixed and moved to test.  Created ENGSAM-2018-03749 to test it.  Produced 3 documents, which seem to be identical. . . .  Not sure if that is a problem?

[2018-05-17 20:04] ANavaGomez-COM commented on #29
@RikiSjachrani-COM - The report: **/Engineering/RestaurantSewerMeterPermit** - has been updated in Test.
Sample report in Test:
[RestaurantSewerMeterPermit_ENGSRM-2018-03746_20180517.pdf](https://github.com/City-of-Madison/Development-Team-2/files/2014566/RestaurantSewerMeterPermit_ENGSRM-2018-03746_20180517.pdf)

[2018-05-18 13:45] RikiSjachrani-COM commented on #2
@ChrisHagen-COM I just got off the phone with Megan, she is going to get back to us. Either way, Engineering needs to be able to edit the ASI field "Permit Expire Date" afterwards. I think the easiest solution is to only populate that field if it's blank.

As far as the date field to use for the 90+, it could be the Permit Issue Date, Estimated Completion Date, or whichever date is later, Megan sa

[2018-05-18 13:48] ChrisHagen-COM commented on #2
@RikiSjachrani-COM    Thanks for checking.

When you say this will effect the other two meter permits, are you thinking whatever change we make will apply to all of the permits or that we need to make sure the other permit processes stay the same?

[2018-05-18 15:06] BrendenPautsch-COM commented on #30
Riki,  Is Shannon Completely done?  As I was going through the process 1 more time, I thought of the few that were not on the spreadsheet, so I wrote something to update all the scheduled Annuals to Ollie (38) , however she has other Inspections scheduled (6), should I update those or just the Annuals?

[2018-05-18 15:48] RikiSjachrani-COM commented on #2
The two Deduct and Addition Permits will also need their scripting changed to use the Permit Issuance Date +60 Days, instead of the Estimated Piping will be Completed Date.

Also, they need to be able to change the Permit Expire Date afterwards, so this will have to apply to all three Meter Permits, Restaurant, Deduct, and Addition.

[2018-05-18 15:48] RikiSjachrani-COM commented on #30
Shannon is completed done, so I think it would be reasonable to assign any scheduled inspections over to Ollie

[2018-05-18 19:37] RikiSjachrani-COM commented on #2
I can have Alejandro add the new checkbox, I'll send him and email

[2018-05-18 19:39] RikiSjachrani-COM commented on #30
That doesn't sound right, I thought a annual inspection would be created on a successful inspection or reinspection. I can look back at specs... Jackie might remember as well

[2018-05-18 19:43] ChrisHagen-COM commented on #2
Ok, I added the changes to TEST as well.

The expiration date is filled in when "application accepted" is chosen on intake, which is when the permit is generated. It fills in 90 days or 60 days, and only if the field is currently null.

[2018-05-21 14:57] RikiSjachrani-COM commented on #29
@ANavaGomez-COM would you please add the new field "Mixed Use Building or Strip Mall" to the Restaurant Sewer Meter Permit?

![image](https://user-images.githubusercontent.com/13784495/40314159-4bc7c206-5cdd-11e8-95fd-5672f67ae277.png)

[2018-05-21 15:06] RikiSjachrani-COM commented on #2
I just tested and it looks good, I'm waiting for the report change before notifying Cindy for UAT

[2018-05-21 15:09] ANavaGomez-COM commented on #31
@RikiSjachrani-COM - Riki I've updated the PERMIT TO EXCAVATE IN PUBLIC RIGHT-OF-WAY report to replaced the Crystal version.

[2018-05-21 15:40] ANavaGomez-COM commented on #29
@RikiSjachrani-COM - Field "Mixed Use Building or Strip Mall" has been added to the to the Restaurant Sewer Meter Permit report. Thank you.

[2018-05-21 17:04] RikiSjachrani-COM commented on #31
@ANavaGomez-COM Please promote the following SR to test and I’ll notify the customer it's ready for them to UAT
![image](https://user-images.githubusercontent.com/13784495/40319823-1bde9878-5cef-11e8-9ae3-b5b2f3368fb8.png)

Thanks,

Riki

[2018-05-21 17:18] ANavaGomez-COM commented on #31
@RikiSjachrani-COM - I cannot find the SR for the work done on the Restaurant Sewer Meter Permit report.

[2018-05-21 17:20] RikiSjachrani-COM commented on #31
It's a part of SR-17-0000280 Engineering Restaurant Class Billing

[2018-05-21 17:31] ANavaGomez-COM commented on #31
@RikiSjachrani-COM  - Thank you, I found it.

I have a question, what is the next workflow status, is it "Testing in Progress"?

[2018-05-21 17:33] RikiSjachrani-COM commented on #31
I found one other formatting concern. When I selected the option for "Existing" on the connection type, it added another line.
![image](https://user-images.githubusercontent.com/13784495/40320944-06a31944-5cf3-11e8-93ec-3914212c44ca.png)
The testing in progress is usually reserved with larger request. The next step you would enter is "Ready to Test". Once I contact the Customer, I will update it t

[2018-05-21 17:47] ANavaGomez-COM commented on #31
I increased the size of the Type field so that it fits the value in only one line.

----

I also moved the Restaurant Sewer Meter Permit to Test.

[2018-05-21 17:57] BrendenPautsch-COM commented on #30
Riki,
I ran a query against the clean RptRepl dataset looking at the dates of the last Annual* Inspection and compared it the timing against todays date and the scheduled date in the provided spreadsheet.  I have noticed several inspection that have been missed, by a large range of months.  Can we contact Jerry and ask how we should handle those inspections.  See the follow Permits

- ELEV-2008-11

[2018-05-21 21:10] RikiSjachrani-COM opened #33 "Affirmative Action Plan Adhoc reporting"
Move over our discussion on the Adhoc Reporting work for AA Plans from the Orientation thread over to here. I will create a specific SR for this as well.

[2018-05-21 21:30] ANavaGomez-COM commented on #33
@ANavaGomez-COM Great! @ChrisHagen-COM is moving the new record type to test today and will bring over this new report as well. Since @ChrisHagen-COM is busy, @JimSchmitt-COM and @ANavaGomez-COM want to help me with some busy work for the Mayor! Stop over and I'll walk you through want needs to be done

[2018-05-21 21:31] ANavaGomez-COM commented on #33
![image](https://user-images.githubusercontent.com/13784495/39836041-c0137384-5397-11e8-9a1d-3da51ca4473a.png)

![image](https://user-images.githubusercontent.com/13784495/39836098-e84dd2f4-5397-11e8-8101-09d64c9868d6.png)

Replace space with underscore
Remove special Characters
Try to shorten to 40 characters
ALT_ID => RECORD_ID

 - [x] vw_AA_HEADCOUNT @ANavaGomez-COM
 - [ ] vw_AA_Plan_Fields @Ch

[2018-05-21 21:31] ANavaGomez-COM commented on #33
@ANavaGomez-COM I see you put in a comment in the view, excellent!

"Comments are like dessert, something is better than nothing" - Riki Proverb

![image](https://user-images.githubusercontent.com/13784495/39838205-43089926-539e-11e8-9cab-767437abf1ac.png)

[2018-05-21 21:32] ANavaGomez-COM commented on #33
OK, I'm half done w/ the CR_AA_GOALS. . . .  I've created the view, replaced spaces with '_', and switched to uppercase.  The problem is that I'm having trouble locating the AAPLAN-2018-00138, so not able to re-order the field names.  I can pick up where I left off tomorrow.

[2018-05-22 14:41] ANavaGomez-COM commented on #33
@RikiSjachrani-COM

I pushed the new CR_AA_Plan_Fields view to DEV. Very complex, but I didn't want to be the hold up while renaming the 192 lines that are part of it!

all dates should be in date format using CAST.

[2018-05-22 14:43] ANavaGomez-COM commented on #33
@JimSchmitt-COM See if you can search for a record type of Licenses/Civil Rights/AA Plan/Public Works

[2018-05-22 14:44] ANavaGomez-COM commented on #33
@ANavaGomez-COM want to stop over and help me start working on this one adhoc report?

[2018-05-22 14:45] ANavaGomez-COM commented on #33
Fields are grouped a little better. My changes are in "CR_AA_GOALS_ITJAS". Do you want to look at it, Riki?

[2018-05-22 14:45] ANavaGomez-COM commented on #33
Sure, let me take a look

[2018-05-22 14:47] ANavaGomez-COM commented on #33
@JimSchmitt-COM looks good! I replaced the one you had so we only have the one. I'm hooking it up to Adhoc report now.

@ChrisHagen-COM I don't see your view yet? Maybe you didn't push

![image](https://user-images.githubusercontent.com/13784495/39874570-c57ef7de-5433-11e8-8f39-150eb940633e.png)

[2018-05-22 14:48] ANavaGomez-COM commented on #33
[ACCELA Utilization Report](\Fps1\data1\Information Technology\Applications and Systems\Accela\Active Projects\AA Plan Support Period\ACCELA Utilization Report.xls)

[2018-05-22 14:54] ANavaGomez-COM commented on #33
Have CAST the fields for CR_AA_GOALS....

[2018-05-22 14:56] ANavaGomez-COM commented on #33
The CR_AA_GOALS and CR_AA_HEADCOUNT look great in Dev. I'm going to move these and the CR_AA_EXEMPT_GEN_INFO, CR_AA_COLLECTIVE_BARGAINING, and CR_AA_RECORD to Test. Any luck on recreating that report?

[2018-05-22 14:57] ANavaGomez-COM commented on #33
Not quite yet. I am using 2 views to try to re-create the report: CR_AA_HEADCOUNT, and CR_AA_RECORD. Are these the correct views?

I applied a filter to CR_AA_RECORD > CONTACT EEOAA OFFICER BUSINESS (col) to display "Company" with a RECORD_STATUS of "Approved" and that gives me "Personal" as the value. Am I using the correct view? Thank you.

[2018-05-22 14:58] ANavaGomez-COM commented on #33
Also not sure about filters. I'm using Record_Type_Category to filter out everything but "Public Works", "Vendors and Suppliers" and "CBO", and Status to select "Active". Seems like it will not be possible to get a count for Disability and Female since neither field is numerical, and there doesn't seem to be but one record per company? Am I missing something?

[2018-05-22 14:58] ANavaGomez-COM commented on #33
Also there seem to be a couple of bad records where total is less than the sum of the various ethnic categories. I would think that would be a problem. . . . I know that many surveys don't require you to select an ethnic category, so I can see the sum being less than the total, but not the other way round. Maybe I shouldn't get hung up on the structure of test data?

[2018-05-22 14:59] ANavaGomez-COM commented on #33
I've recreated AAPLAN-2018-00001 to be similar to Abby Vans, Inc.

[2018-05-22 15:02] ANavaGomez-COM commented on #33
@RikiSjachrani-COM , @JimSchmitt-COM - I added a test report named: italn_test\italn_first_report\italn_first_report - The last fields that shows column "DISABLED" has an expression in it that gives the R/E# aggregated value. Click the gauge to see it. In order to create a field like this one, a field from the view most be selected to be used as a "placeholder", and enter a name ins the descriptio

[2018-05-22 15:04] ANavaGomez-COM commented on #33
![image](https://user-images.githubusercontent.com/38921618/39894391-48080e4c-546c-11e8-8f71-ab6684ad2c74.png)

[2018-05-22 15:07] ANavaGomez-COM commented on #33
![abbyvansadhoc](https://user-images.githubusercontent.com/38922244/39928723-a63e75dc-5525-11e8-969c-6ae9717f4590.jpg)

[2018-05-22 15:08] ANavaGomez-COM commented on #33
Totals?!? D'oh! Will have to look at that....

I've got my version saved as "itjas_utilization_by_company" in adhoc

[2018-05-22 15:16] ANavaGomez-COM commented on #33
@ANavaGomez-COM or @JimSchmitt-COM, if you could, could you please update the view "CR_AA_PLAN_FIELDS" and cast the Number fields and also default the nulls and blanks appropriately? Thanks

[2018-05-22 15:18] ANavaGomez-COM commented on #33
I can work on it. It looks like some of the values are invalid in some cases. For example "PROMOTIONS_TOTAL_LAST_YEAR" has , numerical values, and text values. I'm guessing that replacing the text values and with 0 would be appropriate? Other fields such as "SUBCON_YES_ARE_SUBCON" contain , "Checked", and "Unchecked". . . . I'm not sure what to do with those.

[2018-05-22 15:18] ANavaGomez-COM commented on #33
@JimSchmitt-COM thanks, the checked and unchecked are the valid for checkboxes so let's leave those. the number fields are the main concern if we end up doing any math

[2018-05-22 15:22] ANavaGomez-COM commented on #33
For `RECORD_ID IN ('AAPLAN-2018-00001', 'AAPLAN-2018-00002')` the Total values should be 148 and 118. This also causes the percentages to be off.

These should be the numbers:

![image](https://user-images.githubusercontent.com/38921618/40003383-cd6c999c-5758-11e8-87c9-1bb67eff521f.png)

R/E#:

`SUM([BLACK_NOT_OF_HISPANIC_ORIGIN]+[HISPANIC]+[ASIAN_OR_PACIFIC_ISLANDER]+[AMERICAN_INDIAN_OR_ALASKAN_N

[2018-05-22 15:23] ANavaGomez-COM commented on #33
@ANavaGomez-COM-The problem is not in adhoc reporting.  Individual records in Accela Automation have been saved with invalid data:

Company                        RE#         Female#     Disability# Total
------------------------------ ----------- ----------- ----------- -----------
Abby Vans, Inc.                31          0           0           31
Abby Vans, Inc.                7           40

[2018-05-22 15:23] ANavaGomez-COM commented on #33
I'm getting increasingly frustrated w/ GitHub.  My session is locking up so that I can't type anything.  It seems to save at random times, and other times it is refreshing the screen for the longest time (getting the message from windows about terminating a long-running script).

You guys having any of these issues?  Is there something I'm doing?  Or, do I have something set up wrong?  It seems to

[2018-05-22 15:24] ANavaGomez-COM commented on #33
@RikiSjachrani-COM Ran the updates and rebooted several times.  The updater indicates that there are missing updates, but the installer doesn't seem to be installing them, so called the helpdesk back.  Showed Johnny what I was doing, and we went through an "updater/reboot" cycle together.  Now he's going to do some more research and call me back.

Latest status is that
1) Github had me logged in a

[2018-05-22 15:26] ANavaGomez-COM commented on #33
@RikiSjachrani-COM , @JimSchmitt-COM  - Before learning from the documentation mentioned in the previous [comment](https://github.com/City-of-Madison/Development-Team-2/issues/29#issuecomment-389200046), I was trying to follow a similar style as Jim's, with the outside the sub-query, thinking that Accela would automatically add the filter.

i.e.

`SELECT
	AVG(B.PERCENT_R_E) 'AVERAGE_R_E'
FROM
	(

[2018-05-22 15:26] BrendenPautsch-COM commented on #30
Round 2:  After doing a deeper dive into the data and talking with Jerry, I have made adjustments to get the data as close as possible to the what was in the spreadsheet that Jerry provided.  I have attached the latest SQL with some better notation to better describe what my thoughts were while developing.  I requested a meeting with Riki for the this afternoon (5/22) to QA and run against the Rpt

[2018-05-22 15:26] ANavaGomez-COM commented on #33
I've updated the field names in "Sewer Meter Permit" and saved my changes in a temporary report "SewerMeterPermit_itjas". I tested the report in SSRS w/ record "ENGSAM-2018-00274" that I created, but I'm not sure how to proceed from there. I know we had update Accela to call our modified SSRS report, but I can't remember how to access that functionality. Is that what I need to do? Should I have mo

[2018-05-22 16:02] ANavaGomez-COM commented on #33
@RikiSjachrani-COM - I am done moving all the comments related to the Adhoc report. I was not sure how to move comments from one issue to another issue, so I just copied and pasted. I hope that is alright with you. Is there anything else I should focus now? Thank you.

[2018-05-23 18:31] RikiSjachrani-COM commented on #33
@ANavaGomez-COM so let me know if you have more questions on what needs to happen...I'll have you complete the work and shepard it to test.

[2018-05-23 19:53] RikiSjachrani-COM commented on #32
I created the renewal record type in dev, I'm going to test a bit but don't expect anything to work

[2018-05-24 14:33] ANavaGomez-COM commented on #33
@RikiSjachrani-COM - I am adding CR_AA_PLAN_FIELDS as a new Ad Hoc Data Source for the Utilization Report, but I cannot see the RECORD_ID column so that I can do the JOIN, I can see the RECORD_ID column if I open the view in SSMS. Do you have any idea why this might be happening? Thank you.

[2018-05-24 16:21] ANavaGomez-COM commented on #33
@RikiSjachrani-COM - I asked @ChrisHagen-COM  about the RECORD_ID not been displayed in Ad Hoc rpt. He showed me how to clear the cache and then we re-check, and the column showed up. Thank you @ChrisHagen-COM.

[2018-05-24 19:17] ANavaGomez-COM commented on #33
[Couple of questions - Utilization Report..txt](https://github.com/City-of-Madison/Development-Team-2/files/2036779/Couple.of.questions.-.Utilization.Report.txt)

[2018-05-24 19:18] ANavaGomez-COM commented on #33
[ACCELA Utilization Report v1.xlsx](https://github.com/City-of-Madison/Development-Team-2/files/2036787/ACCELA.Utilization.Report.v1.xlsx)

[2018-05-24 21:02] ANavaGomez-COM commented on #33
@RikiSjachrani-COM - I moved over all the latest vw_AA_Views and CR_AA_Views from elamdbdev to elamdbtest\AccelaStage <

[2018-05-24 21:07] RikiSjachrani-COM commented on #33
Great, now take a look at the vw_AA_views and change the source of the table to the "AccelaRptRepl" database, that's a recent copy of production which should give you better data. Do you have adhoc reports in Test? Please start creating the same reports in Test

[2018-05-24 21:10] ANavaGomez-COM commented on #33
Riki, here is a sample query I put together fusing CBO as a record type example, please tell me if it is somehow close to the requirements you gave me:

`SELECT DISTINCT
	r.RECORD_ID
,	r.RECORD_TYPE
,	pf.RECORD_CATEGORY
,	r.RECORD_TYPE_CATEGORY
,	pf.GENERAL_COMMUNITY_BASED_ORGANIZATION
,	pf.GENERAL_PUBLIC_WORKS
,	pf.GENERAL_VENDOR_AND_SUPPLIER
FROM
	[dbo].[CR_AA_RECORD] r
LEFT JOIN dbo.CR_AA_HEADC

[2018-05-24 21:18] RikiSjachrani-COM commented on #33
@ANavaGomez-COM I think the where is switch around and should be something like this

WHERE (RECORD_TYPE LIKE '%AA Plan Exemption%' AND pf.GENERAL_COMMUNITY_BASED_ORGANIZATION = 'CHECKED') OR RECORD_TYPE LIKE '%Community Based Organization'

[2018-05-24 21:22] ANavaGomez-COM commented on #33
That seems to do the work. Thank you!

[2018-05-24 21:30] ANavaGomez-COM commented on #33
https://github.com/City-of-Madison/Development-Team-2/issues/33#issuecomment-391862553 - where do you go to access and change the data source of the ad hoc tables?

[2018-05-25 14:30] RikiSjachrani-COM commented on #33
I did it for one view, I Altered the vw_AA_HEADCOUNT view and copied it to AccelaRptRepl and then re-pointed CR_AA_HEADCOUNT to look at the AccelaRptRepl database...

You will need to do the same for the other views and tables.

[2018-05-25 21:01] ANavaGomez-COM commented on #33
@RikiSjachrani-COM - I changed the id qualifiers for the AccelaStage > CR_AA_HEADCOUNT, CR_AA_RECORD, CR_AA_Plan_Fields views to point to AccelaRptRepl. Then I recreated one of the reports in actest, added all the fields, and when I tried to run it, I got this error:

![image](https://user-images.githubusercontent.com/38921618/40566090-b9258c8e-6034-11e8-8e06-c426d378eadb.png)

[2018-05-25 21:04] RikiSjachrani-COM commented on #33
Ok, let me see if I can work the security access

[2018-05-25 21:15] ANavaGomez-COM commented on #33
Sounds good. Thank you.

[2018-05-25 21:26] RikiSjachrani-COM commented on #33
I think I'll need one of the DBAs to give Accela user access to the AccelaRptRepl database.

[2018-05-25 21:28] JimSchmitt-COM commented on #33
Can I get access, too?

Thx

[2018-05-25 21:28] ANavaGomez-COM commented on #33
That makes sense. Do you think we can continue this work next week? I am about to head out. I did add the other 2 reports, so even though they are not working right now, once we get the db permissions corrected, they should be ready to be tested.

[2018-05-29 14:36] ANavaGomez-COM commented on #33
@RikiSjachrani-COM - I tried to run this reports in Test but I still get the same message.

[2018-05-29 19:09] ANavaGomez-COM commented on #33
@RikiSjachrani-COM - These are all the records in AccelaRptRepl that do not have a Business Name regarding CBO, PW, and V&S:

`AAEX-2017-00099
AAEX-2017-00146
AAEX-2018-00116
TMP-18-007892
TMP-18-007891
TMP-18-017762
TMP-18-017765`

[2018-05-30 18:16] ANavaGomez-COM commented on #33
@RikiSjachrani-COM - I added the new filter to only look at records with an 'Active', and 'About to Expire' status. These reports are ready to be tested. Thank you.

[2018-05-31 18:55] ChrisHagen-COM commented on #2
The meter permit portion has been pushed to production and closed.

[2018-06-05 16:00] ChrisHagen-COM commented on #2
@RikiSjachrani-COM  The inspection is in test with the changes proposed in our last meeting on this back on 3/6 (I added those to dev shortly after).

I ran into some issues when I moved from Dev and tested. I have fixed those issues and put them in DEV as well. (I had something hard coded in the associated script that caused it to work when it really didn't).

It should be ready for QA review - w

[2018-06-06 19:10] ChrisHagen-COM commented on #24
Talked with @RikiSjachrani-COM, Moved this back to DEV after testing revealed some issues.

Will need to test as a user all the way through resulting an inspection. Inspections were not being assigned and were not able to be resulted by users.

in addition need to change underlying data in views so that number fields are numbers, date fields are dates, etc.

Also need a new adhoc report that lists

[2018-06-06 20:36] ChrisHagen-COM commented on #24
@RikiSjachrani-COM
A few questions on Erosion Control inspections:

1) Is there going to be more than one unit?
2)When autoassigning, are we using districts?
3) Are we using any of the existing districts, or are we going to need to create a new district for them?
4) Who should be in the districts?

For the inspector resulting issue, it looks like Theresa was not an inspector so could not, but Dani

[2018-06-06 21:02] RikiSjachrani-COM commented on #24
@ChrisHagen-COM Below are the basic items that need to be addressed

 - [ ] 1) The inspections should be assigned to the person assigned to the record
 - [ ] 2) Theresa should be able to result inspections
 - [ ] 3) The adhoc view should conform to the correct data types for reporting purposes

Anything outside of the above needs to be checked before doing any work.

[2018-06-07 13:13] ChrisHagen-COM commented on #24
@RikiSjachrani-COM

Thanks, I don't think we talked about who it was to be assigned to, just that it should be assigned.

[2018-06-07 14:03] ChrisHagen-COM commented on #24
@RikiSjachrani-COM

Thank you. I was being bone headed and was thinking "when she manually scheduled inspections". There is an option for ISA/ISB but it appears we don't use that set of events.

As you said it was easy.

[2018-06-07 19:32] ChrisHagen-COM commented on #24
@RikiSjachrani-COM ,

Everything is ready for QA in DEV. It took a bit longer for adhoc because I missed something and had to wait again for it to update.

I have the new report "Erosion Control Upcoming Completion" ordered by estimated completion date, and hid the "in compliance" statuses. If there is more than one scheduled it will show it. I am not sure how I can put a range variable in (like b

[2018-06-08 19:52] ANavaGomez-COM commented on #33
Hi @RikiSjachrani-COM,

I ran a test deleting the 3 AA Plan Utilization reports from the DCR directory in Ad Hoc Accela Test. Then I ran an export of the 3 utilization reports from Accela Dev, and imported them in Ad Hoc Accela Test. The test ran fine.

@JimSchmitt-COM, and I created a zip file from the 3 Utilization reports in Accela Test, but we were unable to import them to Production due to ou

[2018-06-11 14:41] RikiSjachrani-COM commented on #33
I imported it and it succeeded but I don't see the reports in adhoc in production...? Not sure what to try, any ideas?

[2018-06-11 14:48] ANavaGomez-COM commented on #33
@RikiSjachrani-COM - the same happened to me when I imported them to Test from Dev the first time. My problem was that the reports in dev resided in a different directory italn_test, instead that DCR so when I imported them into Test, the folder italn_test did not existed. I just added the DCR directory in Test and then imported them again.

[2018-06-11 15:15] ANavaGomez-COM commented on #33
Did you see my last comment on this thread in Github?

Thank you,
Alejandro

From: Riki Sjachrani <notifications@github.com>
Sent: Monday, June 11, 2018 9:41 AM
To: City-of-Madison/Development-Team-2 <Development-Team-2@noreply.github.com>
Cc: Nava-Gomez, Alejandro <ANava-Gomez@cityofmadison.com>; Mention <mention@noreply.github.com>
Subject: Re: [City-of-Madison/Development-Team-2] Affirmative Ac

[2018-06-11 16:02] RikiSjachrani-COM commented on #33
Ok, I created the directory and will try and import again

[2018-06-11 16:19] RikiSjachrani-COM commented on #33
I created the directory and it loaded one report, it looks like the reports were imported correctly in the database and I removed the missing ones and tried importing again. Still not showing up...

![image](https://user-images.githubusercontent.com/13784495/41243949-3dab2ee6-6d69-11e8-88c1-2ad685f41e00.png)

[2018-06-11 16:24] ANavaGomez-COM commented on #33
@RikiSjachrani-COM - That is strange, so you uploaded one report and that one worked, then you tried to upload the 2 remaining reports and those did not show up? I did the same from dev to test, first uploaded 1, then deleted it, and then imported the 3 reports at once, and it worked. I am not sure why isn't working from test to prod. Would you like me to create a new export package and see if tha

[2018-06-11 17:33] ANavaGomez-COM commented on #33
Hi Riki, would you please give it another try? I am attaching a new zip file with the adhoc reports. Thank you.

[AAPlan+Reports_exportData.zip](https://github.com/City-of-Madison/Development-Team-2/files/2091051/AAPlan.Reports_exportData.zip)

[2018-06-11 17:36] ANavaGomez-COM commented on #33
I uploaded a new zip file with the reports, would you please give it another try to the import?

Thank you,
Alejandro

From: Riki Sjachrani <notifications@github.com>
Sent: Monday, June 11, 2018 11:19 AM
To: City-of-Madison/Development-Team-2 <Development-Team-2@noreply.github.com>
Cc: Nava-Gomez, Alejandro <ANava-Gomez@cityofmadison.com>; Mention <mention@noreply.github.com>
Subject: Re: [City-of

[2018-06-11 18:05] RikiSjachrani-COM commented on #33
Still only have one...!

[2018-06-11 18:07] ANavaGomez-COM commented on #33
That is a bummer. At this point, I do not know what is the problem. Would you like me to add the other 2 reports manually? so that they are available and ready today.

[2018-06-11 18:08] RikiSjachrani-COM commented on #33
I'm going to delete them from the database that are missing from the front end and have you manually add them today.

[2018-06-11 18:09] ANavaGomez-COM commented on #33
Sound good. Thanks!

[2018-06-11 18:13] RikiSjachrani-COM commented on #33
Ok, I removed them from the database, please see if added them manually works

[2018-06-11 18:40] ANavaGomez-COM commented on #33
@RikiSjachrani-COM - I added the reports manually and they are available and working.

[2018-06-11 18:53] RikiSjachrani-COM commented on #33
Great, I just took a look and will update the customer

[2018-06-11 18:53] #33 closed

[2018-06-28 19:47] #32 closed

[2018-06-28 19:47] #30 closed

[2018-06-28 19:48] #23 closed

[2018-06-28 19:49] #19 closed

[2018-06-28 20:38] #16 closed

[2018-06-28 21:04] RikiSjachrani-COM opened #34 "SR-18-0000162 Kitchen Hood Suppression Permit"
Kitchen Hood Suppression Permit - Use Fire Alarm Permit as example. Add the 3 devices or less checkbox.  Update the Workflow, ACA and Auto Assign to Joe.  $125 fee.  Use the same letter as the full plan review but will need an update.

[2018-06-28 21:06] RikiSjachrani-COM opened #35 "SR-18-0000138 FD new record type Kitchen Hood Cleaning License"
FD new record type Kitchen Hood Cleaning License - See attached document for original request. As part of the Fire Fee SR, they have a new record type.
This will be a clone of Fire Extinguisher License but they want less fields required. The fee will be $125. It also needs to work with the existing clerks licensing renewal process.
 - [ ] Going to set this to Review in Process until specifications

[2018-06-28 21:07] RikiSjachrani-COM opened #36 "SR-18-0000178 Fire Outdoor Assembly Permit (New Record type)"
Fire Outdoor Assembly Permit (New Record type)

To Do
 - [x] forward to Bill again

Daily Log

Specifications

ASI

Outdoor Assembly
•	Check boxes to select one:  Annual/Recurring       One-Time Event            Revision [these selections will drive the fee]
•	Capacity: TEXT BOX  w/ Number only format

Use Kitchen Hood Suppression as an example to setup record type. (Workflow, Fees, etc.)

Standar

[2018-06-28 21:09] RikiSjachrani-COM opened #37 "SR-18-0000200 Fire Special Occupancy License additions"
Fire Carnival and Fairs License (New Record type)

[2018-06-28 21:12] RikiSjachrani-COM opened #38 "SR-18-0000177 Outdoor Fire Feature Permit (New record type)"
Outdoor Fire Feature Permit (New record type)
•Outdoor Fire Feature ASI Data
•	Occupancy Type (copy other occupancy type check boxes) should be able to select multiple
occupancy types
•	Location of Fire Feature:  [Text Field]
•	Fire Feature Fuel Type: Wood   LPG/NG  Other: (Specify)       These options would be a check box with a text box associated with the “other “ option

Use Kitchen Hood Suppr

[2018-06-28 21:13] RikiSjachrani-COM opened #39 "SR-18-0000201 Fire Exhibits and Trade Show License (New Record type)"
Fire Exhibits and Trade Show License (New Record type)

[2018-06-28 21:14] RikiSjachrani-COM opened #40 "SR-18-0000202 Fire Performance Art License (New Record type)"
SR-18-0000202 Fire Performance Art License (New Record type)

[2018-06-28 21:14] RikiSjachrani-COM opened #41 "SR-18-0000203 FD Administrative Hold Fee"
FD Administrative Hold Fee - "We need to establish a workflow for an Administrative Hold. This would apply to most record types where information was missing at the intake step. The fee is $100 and should have been created already. This would be our last priority as of today."

[2018-06-29 14:41] RikiSjachrani-COM commented on #35
@JaneSchneider-COM this one is pretty much done, and is in Ready to Test. I think there are some minor tweaks from the first round of testing but other than that it's done. I'll add to the SR what remaining changes and we can send it back to Bill

[2018-06-29 14:46] JaneSchneider-COM commented on #35
Oh, OK, then I will start on SR-18-0162 instead. If you want me to make any changes to this one (138), just let me know.

[2018-06-29 16:50] JaneSchneider-COM commented on #34
@RikiSjachrani-COM: Some questions:
1. The ASI field "Alter Kitchen Hood Extinguishing System" already shows up in ACA as "Alter (3) or less components that do not impact the manufacturer’s design"
So, adding the 3 devices or less checkbox is already done???
Or do I need to simply update the AA version of the ASI field to have the same text as the ACA field?
And/Or do we need to add another option

[2018-06-29 16:56] RikiSjachrani-COM commented on #34
I'm here and we can discuss, I know some of it has already been done, it just needs to be finished since Jackie is on vacation and then training for the next two week.

[2018-06-29 16:56] JaneSchneider-COM commented on #34
Should I call you now?

[2018-07-02 21:07] RikiSjachrani-COM commented on #34
@JaneSchneider-COM did you see the reply from Bill about removing the "Repair" option? let me know if you have a need to go over this or whether we can complete the request.

[2018-07-02 21:08] RikiSjachrani-COM commented on #24
@ChrisHagen-COM Let's close this request and deal with any others as support issues

[2018-07-02 21:23] RikiSjachrani-COM opened #42 "SR-15-0002056 PL Electronic Plan Review for Land Records - This is the project record for implementing EDR"
PL Electronic Plan Review for Land Records - This is the project record for implementing EDR

[2018-07-02 21:38] RikiSjachrani-COM opened #43 "SR-18-0000207 BI Portable Zoning Sign Renewal Processing"
BI Portable Zoning Sign Renewal Processing - This new record type has a renewal process and we need to visit this before it occurs. This SR is to get an understanding of how the renewal will work and have proper documentation and processes in place.

[2018-07-02 22:04] JaneSchneider-COM commented on #34
@RikiSjachrani-COM: Yes, I did see it. I think I understand what needs to be done. I'll make changes just in Dev, and then you can take a quick look before I move to Test.

[2018-07-03 14:59] ChrisHagen-COM commented on #43
With the later/Someday label, does this mean I should just investigate how it currently work in anticipation of future client meeting on how it's changing? (I see no other documentation in the SR or here).

Thanks!

[2018-07-03 16:19] #24 closed

[2018-07-03 17:58] RikiSjachrani-COM commented on #43
@ChrisHagen-COM this is just a placeholder to figure out how the renewal works. It won't happen until next year, but it should be similar to license Building Inspection renewals...

@JaneSchneider-COM might be someone we will need to discuss with

[2018-07-03 18:47] RikiSjachrani-COM opened #44 "SR-18-0000212 FD Elevator Inspection Status"
FD Elevator Inspection Status -
Specifications
Tool:
Inspection Status - Add "Corrected, violations remaining" to the reinspection result group
EMSE Scripting - Above should behave like corrected

[2018-07-03 18:59] RikiSjachrani-COM opened #45 "SR-18-0000213 FD Routine Inspection Checklist"
FD Routine Inspection Checklist -
See attached document for original request.
1) Firefighter Devin Rogers – move him up to Prevention level access in Accela
2) Add/change the following violation codes in the Complex guidesheet

[2018-07-09 14:40] JaneSchneider-COM commented on #34
@RikiSjachrani-COM : I have completed what I understand to be the desired changes in both Dev & Test. If you want to discuss, please let me know.

[2018-07-09 14:42] JaneSchneider-COM commented on #35
@RikiSjachrani-COM : I have completed the auto-numbering of the License Number field in Dev & Test. If this SR needs any additional changes, please let me know.

[2018-07-09 19:37] JacquelineGoltz-COM commented on #35
@JaneSchneider-COM I completed records in Dev and Test.  Both created the auto numbered license numbers correctly.

[2018-07-09 19:41] RikiSjachrani-COM commented on #35
Please notify Bill and update the SR accordingly

[2018-07-10 17:38] JacquelineGoltz-COM commented on #41
I sent an email to Bill with the list of questions that Jane provided.
1.	For which Fire record types does this SR apply? Or, maybe a better question: which Fire record types are excluded?
There are 25 Fire Permit record types and 7 Fire License types (including KitchenHoodCleaning, which is not yet in Production).
They all have a workflow task of Intake. See below for list of Fire record types.

[2018-07-13 23:00] JaneSchneider-COM commented on #41
Jerry's answers to my questions:

1.	For which Fire record types does this SR apply? Or, maybe a better question: which Fire record types are excluded?
a.	See list below – all YES should have an Admin Hold and associated fee
b.	All NO should have a Hold status with no fee associated
There are 25 Fire Permit record types and 7 Fire License types (including KitchenHoodCleaning, which is not yet in P

[2018-07-13 23:10] JaneSchneider-COM commented on #41
Should the "Administrative Hold Fee" be added to all 15 different fee schedules or to just one of the existing fee schedules. Or should a new Fire permit fee schedule be created for common fees like this one?
I  ask, because I noticed that the "Additional Information Required Fee" (FIRSTCH) is only in the FIRSPRNK fee schedule, but has been added to several other Fire permits, like ControlledEgres

[2018-07-16 18:35] #34 closed

[2018-07-16 19:41] JaneSchneider-COM commented on #41
@RikiSjachrani-COM: It looks like the REINSP fee is in 27 different Fire record type fee schedules, 19 of them with a $100 fee and four each at $75 and $50.
So, I see three choices regarding the "Administrative Hold Fee"...which would you prefer?
     1. Add to fee schedule of each of the applicable Fire record types (15 total).
     2. Add to existing fee schedule of one record type, but allow to

[2018-07-17 14:15] RikiSjachrani-COM commented on #45
@JacquelineGoltz-COM will you please get together with @JimSchmitt-COM to walk through how to test his changes? I guess just walk through scheduling a new inspection and check the checklist for the changes noted in the SR

Thanks in advance!

Riki

[2018-07-17 14:30] RikiSjachrani-COM opened #46 "Ivanti Service Manager Tool"
Work space for items related to the Ivanti Service Manager Tool project

To Do
 - [ ] List of Team Services
 - [ ] Provide two Team Workflows

Daily Log
Riki 7/17/2018  - Initial creation

Specifications

[2018-07-17 14:47] JimSchmitt-COM commented on #45
@JacquelineGoltz-COM do you have some time this morning?

Thanks,

Jim

[2018-07-17 14:52] JacquelineGoltz-COM commented on #45
I will come over when I get a chance.  I am on elamsupport today.

[2018-07-17 20:58] ChrisHagen-COM commented on #2
@RikiSjachrani-COM

I was curious to know of the status of the TEST environment QA step for the changes I implemented 6/5/18 for the Inspection side of restaurant meter permits? Have you sent this on to the customer yet?

I know there was a thread of emails on the production side after we went live (changing some wording on the ssrs permit, changing the email address it goes to, etc) I went  in an

[2018-07-18 14:38] RikiSjachrani-COM commented on #2
I need to revisit this again before including the customer. My recollection was that something wasn't completed in Test so I got frustrated and left it

[2018-07-18 14:39] RikiSjachrani-COM commented on #45
@JacquelineGoltz-COM will you please take over QA of this and notification of the customer?

[2018-07-18 20:36] RikiSjachrani-COM commented on #46
I've attached a couple working documents, one is from our meeting and the other is a quick report I did against Heat.

Just going through the Heat Calls and the categories and call type is not a good indicator of what the case is for, I'll drill down deeper to see if anything jumps out at me.

I am also going to add some more columns to the cross tab on things our team does, even if it shouldn't b

[2018-07-20 13:47] JacquelineGoltz-COM commented on #41
@JaneSchneider-COM  I did QA on a Kitchen Hood Suppression record type and chose Admin Hold on the workflow.  The fee is assessed properly and the email looks correct. Move the changes to test and I will inform the Fire staff.  I also emailed Ann about the Project Name on the emails.  She is out today but we can update the email if needed when she returns.

[2018-07-23 15:20] JacquelineGoltz-COM commented on #41
Ann Blackdeer confirmed that the Project Name will be needed on the 10 Permit types and emails.

[2018-07-23 18:02] ChrisHagen-COM commented on #2
Riki and I reviewed the Sanitary Commercial Kitchen Inspections in the TEST enviroment.

Three things were found that need changing:
[ ] 1)	Add text in 5.1 when organics other window is displayed. “Subject to approval from Madison Sewer Utility” (This was missed)
[ ] 2)	Close out automatically when “Organic Approval Acceptance” is chosen.  (This was not discussed before)
[ ] 3)	Add data source for

[2018-07-23 19:31] ChrisHagen-COM commented on #2
SKC inspections:
Added "subject to approval" as an instruction. It shows up when other is selected, as it's part of "other".
![image](https://user-images.githubusercontent.com/30443079/43098352-998b7400-8e84-11e8-9a33-789fa8c9e048.png)

For the automatic closeout, I closed it out automatically through a WTUA:Permitting/Engineering/Sanitary Commercial Kitchen/Inspection

Along with closing it compl

[2018-07-23 22:08] JaneSchneider-COM commented on #41
The Additional Info Required email applied to 10 permit types so far, but the Administrative Hold email applies to 15 rec types.  Because Chris H's Fire email changes are only in Dev so far, I have made the change in Dev only to script CMN:GetFirePermitEmailHdrVals, line 010, to get the Project Name for any Fire Permit.
010 Old: (cmnSubType == "Alarm" || cmnSubType == "Sprinkler") ^  projectName =

[2018-07-23 22:17] JaneSchneider-COM commented on #41
Please make sure Fire staff knows to use their own email addresses for any Contact on a given Fire permit record when testing in ACA Test, so that emails are sent to them instead of actual businesses.

[2018-07-25 14:04] ChrisHagen-COM commented on #2
The adhoc report is live as "Sanitary Commercial Kitchen Inspections".

[2018-07-25 16:11] RikiSjachrani-COM commented on #44
@JaneSchneider-COM we met with Jerry on this right? is there anything we are waiting for with this

[2018-07-25 16:14] JaneSchneider-COM commented on #44
@RikiSjachrani-COM : Yes, we had a phone meeting w/Jerry. I don't think we are waiting on anything specifically from them at this point. I may have questions later once I did into this SR.

[2018-07-25 16:38] JacquelineGoltz-COM opened #47 "Elevator Checklist Update - SR-18-0000229"
Update Guidesheet checklists for Elevator.  See  the attached spreadsheet on the SR with changes.

[2018-07-25 20:56] JacquelineGoltz-COM commented on #38
Per discussion and email from Bill, the Fire feature Types can be dropdown box.

[2018-07-25 20:58] JacquelineGoltz-COM commented on #36
•	Check boxes to select one:  Annual/Recurring       One-Time Event            Revision [these selections will drive the fee]
Per Bill Sullivan this can be a dropdown box.

[2018-07-27 14:41] JaneSchneider-COM commented on #35
Two questions:

1. For converting the existing FireExtinguisherMaint Alt-IDs for to the new format, I need some direction regarding what to do with Alt-IDs that:
-  Don't have a Certification/License number
-  Have legacy Alt-IDs, e.g. 51194-41321

Also, are we converting all existing records, regardless of current status? Example, Closed, Inactive, Void, etc?
I did do a conversion in Dev of all r

[2018-07-31 12:47] JacquelineGoltz-COM commented on #41
Ann Blackdeer has approved the changes to be moved to production.

[2018-07-31 12:48] JacquelineGoltz-COM commented on #45
Changes are in production as of 07/30/2018

[2018-07-31 12:49] JacquelineGoltz-COM commented on #47
Ready for QA.

[2018-07-31 12:54] JaneSchneider-COM commented on #41
I still need to update calls to email helper scripting code now that Chris has moved it to Test. Will do this morning and let you know when done and verified working.

[2018-07-31 12:57] JacquelineGoltz-COM commented on #25
Issuance emails will only include the placard permit.  The Notification template needs to include a link to the ACA login and record number for the plumber.  The plumber needs to be able to see all documentation related to the Sanitary permit.  @KimGrittner-COM would you be able to find an example on how to add the link to a Communication Manager template?
[Email Content for Sanitary Permit Proces

[2018-07-31 13:34] ChrisHagen-COM commented on #2
[Grease Trap Maintenance Record Walkthrough.pdf](https://github.com/City-of-Madison/Development-Team-2/files/2245459/Grease.Trap.Maintenance.Record.Walkthrough.pdf)
Changes needed on thi document.

Email text:
Chris,

I met with Megan today and she has a few changes, some of them are pretty minor and I expect more text/language changes this week. See the attached document…

Also, we need to add to

[2018-07-31 15:46] JaneSchneider-COM commented on #41
I've completed my updates in Test to use helper scripts from Chris. Made sure Dev & Test are same, and tested a few times to make sure both environments work as expected. Will coordinate with Chris for him to move SR-18-0203 to Prod while I move SR-18-0186 to Prod.

[2018-07-31 16:03] #45 closed

[2018-07-31 18:11] JacquelineGoltz-COM commented on #47
I sent an email to Jerry to inform him this is ready to test.

[2018-07-31 19:42] JaneSchneider-COM commented on #41
This SR has been moved to production by Chris H and the SR ticket closed.

[2018-07-31 20:10] #41 closed

[2018-08-01 14:17] ChrisHagen-COM commented on #2
Steps for change:

- [ ] Update the record alias to be "Grease Trap Maintenance Record"
- [ ] Move Customer Number first and only required field
       - [ ] Auto populate account number as well as permit number
       - [ ] Possibly update address. Maybe there could be a message indicating this is the water billing address?
- [ ] Add instructions about where to find customer bill.
- [ ] Inactive

[2018-08-02 17:53] ChrisHagen-COM commented on #2
@RikiSjachrani-COM        Dev is updated for everything except the scripting.

[2018-08-03 14:02] ChrisHagen-COM commented on #2
![image](https://user-images.githubusercontent.com/30443079/43646729-50a4a7fa-96fb-11e8-8ff1-0a317310dc2d.png)

@RikiSjachrani-COM     Attached is a screenshot of what the email will be. There are limited SCK permits that have valid parent restaurant licenses.

Mcdonald's on east Wash is a good example to use though, the CIST customer number is 07187021 and the account number is 00049070. Obviousl

[2018-08-03 14:25] RikiSjachrani-COM commented on #2
That email is really good, thanks for turning this around so quickly! I'll be very prepared for next Monday's meeting

[2018-08-06 18:00] RikiSjachrani-COM commented on #2
@ChrisHagen-COM I unchecked one item above that doesn't appear to have been changed in dev

![image](https://user-images.githubusercontent.com/13784495/43732974-bedb98b2-9978-11e8-9390-22a1810c5a01.png)

[2018-08-06 21:30] RikiSjachrani-COM opened #48 "SR-18-0000239 FN PD Police Ticket Lookup ORI"
FN PD Police Ticket Lookup ORI - "We are experiencing a strange error in Tyler. The price of parking ticket P10781 is $35 in the AS400, but when we look it up in Tyler, its $50.  We’ve tried deleting it and reentering it, however that doesn’t fix the problem.  Thanks for looking into this."
Need to check and fix the query used in the Police Park Ticket search to include the PCORI of "WI0130100"
Se

[2018-08-07 18:44] RikiSjachrani-COM commented on #36
@ANavaGomez-COM Let's get together and get started on this

[2018-08-08 15:41] ChrisHagen-COM commented on #2
![image](https://user-images.githubusercontent.com/30443079/43847888-54afd806-9af7-11e8-840c-b2241cc7dc66.png)
Updated missing wording. I made sure it was both in the Field Label Alias AND the ACA configuration.

[2018-08-08 15:50] JacquelineGoltz-COM commented on #47
The changes have been promoted to production. I closed the SR.

[2018-08-08 15:51] ANavaGomez-COM commented on #47
@JacquelineGoltz-COM  - Thank you!

[2018-08-08 19:26] #47 closed

[2018-08-08 19:34] RikiSjachrani-COM commented on #35
We met with Bill at the bi-weekly fire meeting and reminded him of @JaneSchneider-COM email on what to do, I'm going to attached that email to the SR and set it to Additional Information Required. Maybe we should follow up with him by the end of next week if we don't hear back

[2018-08-09 12:34] JacquelineGoltz-COM commented on #25
Moving all of Dev project work to Test this week.

[2018-08-09 19:26] JacquelineGoltz-COM commented on #36
Emailed Bill about naming convention for Sequence generator.

[2018-08-10 13:56] JacquelineGoltz-COM commented on #36
@ANavaGomez-COM I have more information from Bill Sullivan for our Monday meeting.
The permit will be on ACA
The fees are:
a.	Annual/Recurring event                $250
b.	One Time Event                             $50
c.	Revision                                          $50

He will be sending us email/letter information and Standard comments.

[2018-08-10 14:51] ANavaGomez-COM commented on #36
Thank you Jacqueline! Looking forward to our meeting on Monday.

[2018-08-16 14:11] JacquelineGoltz-COM commented on #36
My email to Bill Sullivan:
Bill,

As work has begun on the new permit type Outdoor Assembly, I do have more questions for you in order to proceed.

•	Should there be another custom field that will have the location of the Outdoor Assembly?  We are only adding the event type and capacity.
•	I am using the Kitchenhood Suppression permit to lay the groundwork for this permit.  I think the Kitchenhood

[2018-08-20 21:16] JaneSchneider-COM commented on #35
Did analysis of the 250 existing production FireExtinguisherMaint records based on Bill's response to my first email about which records to convert:

-  	We will not be updating any records that are Inactive, Void or Closed.  We should convert any Expired records that have been expired less than 1 year.  All older Expired records do not need to be converted
- 	I am hoping this addresses the rest o

[2018-08-21 15:04] JaneSchneider-COM commented on #35
Bill responded as follows to my questions about the Alt-ID conversion:
•	Yes, Only convert FIREML-2018-00072
•	Legacy records, Yes convert as proposed
•	Legacy Record with cert # in business name, please convert as proposed
•	FIREML-2011-00035  His number is A766.  I have updated this in Accela.

I know have enough info to do the conversion SQL scripts.

[2018-08-22 12:56] ChrisHagen-COM commented on #2
Email sent to Riki:

Riki,

You said I might get a jump on things by looking over your notes in the OneNote document for this. I wanted to confirm:

It looks like Megan wants to change the questions for Organics into a 3 choice radio button:

ORGANICS (FOOD SCRAPS RECYCLING)

This facility is:
    Not interested in participating in the organics (food scraps) recycling program.
    Already an appro

[2018-08-23 13:53] JaneSchneider-COM commented on #35
@JacquelineGoltz-COM: Is there supposed to be a fee item specific to Kitchen Hood Cleaning? Currently, the fee being assessed is "Fire Ext Maint Contractor Application Fee". I looked in the FIRLICENSE fee schedule, and there is no fee item specific to Kitchen Hood Cleaning...is this by design? Or do we need to create one?

[2018-08-23 14:49] JacquelineGoltz-COM commented on #35
@JaneSchneider-COM  Thanks for catching that.  The fee is to $125 according to my notes.  The Fee Code of LICENSE could have the description changed to include both.  I feel we should create a new fee code though for Kitchenhood.  What are your thoughts?

[2018-08-23 14:50] JacquelineGoltz-COM commented on #35
Jerry and Ann replied with the updated email language.  See below:

Hello,
Your license (FIRHCL-2018-H000001) has been issued and will be mailed to you.
                             This number (H000001) shall be used on all documentation related to the inspection you are performing.  For instance:
•	If a Hood Cleaning License – your number must be on the decal left on the hood when the cleaning i

[2018-08-23 14:56] JaneSchneider-COM commented on #35
@JacquelineGoltz-COM : Yes, I think a separate fee code for the Kitchen Hood Cleaning should be created.
Maybe call it, "Fire Kitch Hood Clean Contractor Application Fee"?

[2018-08-23 16:12] JacquelineGoltz-COM commented on #36
I will email Bill Sullivan regarding reports that need to be added or edited for this new record type.

[2018-08-23 18:47] JacquelineGoltz-COM commented on #25
All changes and updates are in Test.  I have a meeting with John Hausbeck on 9/6 to begin UAT.

[2018-08-23 18:49] JacquelineGoltz-COM commented on #35
The license are ready for testing.  I will send email to Bill and his staff.

[2018-08-30 16:27] JaneSchneider-COM commented on #35
@JacquelineGoltz-COM: I looked at the batch script for the Fire Renewals (BATCH_RENEWAL_FIRE) , and it requires an entry for the given record type and associated fee schedule in Standard Choice BATCH:FeeScheduleLookup.
This line has been entered in Dev & Test for Licenses/Fire/KitchenHoodCleaning/NA.
FYI - The Batch Job = Renewal2012Fire
So, other than moving to Prod, the KitchenHoodCleaning licen

[2018-09-05 17:30] JacquelineGoltz-COM opened #49 "Vending Late Fees SR-18-0000259"
Created Service Request.   A meeting will be scheduled soon with Vending, IT and City Attorney staff.

[2018-09-06 20:08] JacquelineGoltz-COM commented on #25
Testing with John.

- Will add two new emails to send to PrivateWellandSeptic Mailbox. 1. on submittal and 2.when fees are paid

- Add a dropdown box only Health can see. It will list the custom system types and trigger fees.  John will get me the list.

- Look into if custom fields for tank can calculate automatically

- Plan review "Other" box needs to hide

Soil Test

- Workflow Intake step, ch

[2018-09-13 18:17] RikiSjachrani-COM commented on #49
I thought that was a good meeting, though we would benefit from someone keeping Meghan on the subject at hand

[2018-09-13 18:33] JacquelineGoltz-COM commented on #35
I have sent a follow up email to Bill and the fire staff.  I reminded them that this SR is in test.  I am not moving this to production yet due to the flooding issues that may have set them behind.

[2018-09-20 22:43] ChrisHagen-COM commented on #2
Steps completed from walk though notes (created as list to mark off):

- [x] 	1) Update the Record Alias to be "Grease Trap Maintenance Record"
- [ ]  2) Can we fill the Address fields the same time the Permit Record gets populated
- [ ] 	3) Move Customer Number first and only required field.
- [ ]	4) After filling in Customer Number, Populate
	- [ ]	a. Account Number
	- [ ]	b. Permit Number
	- [

[2018-09-20 22:44] ChrisHagen-COM commented on #2
For #2 above, we decided it can't be done.
For #12 above, I need the names that should be included.

[2018-09-24 21:19] ChrisHagen-COM commented on #2
I have completed all the items above.

I still don't know what they want me renaming the documents to - if they upload 2 different documents with the same type naming them the same would not be good?

I also need instructions still and a place to link an image for where to find the account number.

[2018-09-26 18:00] JacquelineGoltz-COM commented on #35
Plan is to move to production Monday October 1.  Talked to Bill and will verify with Ann Blackdeer.

[2018-09-26 18:06] JaneSchneider-COM commented on #35
I am out all next week, so won't be around to facilitate the move to production.
Do you want me to go over the deployment check list with you or someone this week? Probably would be a good idea.

[2018-09-26 18:07] JacquelineGoltz-COM commented on #36
Met with Bill today.  He will remind Jerry to get us the standard comments.  We are to use the Fire Protection Work Order report for this permit type as well. I said we would mock up the current report in Dev and send him a copy.   Inspections are to be the same as sprinkler and alarm permits.  I will schedule a meeting with @ANavaGomez-COM  soon.

[2018-09-26 18:31] JacquelineGoltz-COM commented on #35
Yes we can go over it tomorrow or Friday morning.

[2018-09-27 18:08] RikiSjachrani-COM commented on #38
After speaking with Bill at the last bi-weekly fire meeting, this will be the next SR to work on

[2018-09-27 18:11] RikiSjachrani-COM commented on #44
@JaneSchneider-COM could we re-assign this to someone while you are out next week? @JacquelineGoltz-COM we could loop in Jim or Alejandro?

[2018-09-28 14:43] JaneSchneider-COM commented on #44
@RikiSjachrani-COM: Regarding reassigning: Sure.

[2018-10-02 19:51] JacquelineGoltz-COM commented on #36
@ANavaGomez-COM  Please go to SSRS report manager and look at the report in Dev or Test.  Fire/FireProtectSystemWorkPermit.  We will be adding this new permit type to this report.   Jerry said he has the standard comments ready, he just needs to send them.

[2018-10-03 13:56] JacquelineGoltz-COM commented on #38
I have sent an email to Bill Sullivan for answers.  I have begun a Spec document to keep track of them.

[Specs.docx](https://github.com/City-of-Madison/Development-Team-2/files/2442283/Specs.docx)

[2018-10-03 14:00] JimSchmitt-COM commented on #38
Thanks, Jacqueline!

[2018-10-04 12:55] JacquelineGoltz-COM commented on #38
Email from Bill:
The fee will be a flat $250 for new, $125 for an alteration to an existing one.
I have attached the standard comments, since it was started in word I just modified our letter.
Yes, Match Fire Protection Work Permit template.
We were thinking of capturing some of the following ASI data to report against at some later date:
Fuel Type: Natural gas; Propane LPG; Wood/Pellet; Other
Loc

[2018-10-04 18:41] #31 closed

[2018-10-04 18:41] #48 closed

[2018-10-04 18:42] #35 closed

[2018-10-10 13:29] JacquelineGoltz-COM commented on #36
We have moved the new permit type to test.  I am ready to have Bill and/or Ann test.  We still need answers about the actual report attaching to the record.  Riki and I will go over this today.

[2018-10-10 16:09] RikiSjachrani-COM commented on #36
Riki 10/10/2018 - From the bi-weekly fire meeting
 - [ ] Should auto assign to area inspector - check out the GIS code stuff

Notified Bill that this is ready to test

[2018-10-10 17:42] JacquelineGoltz-COM commented on #44
@RikiSjachrani-COM is this going to be reassigned to Alejandro or is Jane to continue?

[2018-10-10 19:17] RikiSjachrani-COM commented on #44
Whoever can get to it...it's lower priority. It would be nice to get it over with...

[2018-10-18 17:21] RikiSjachrani-COM commented on #36
@JacquelineGoltz-COM I'm going to move this to closed, nice job moving this along

[2018-10-18 17:21] #36 closed

[2018-10-22 20:28] JacquelineGoltz-COM commented on #38
The new record type has been created in Dev.   @JimSchmitt-COM and I will run some records through ACA and run the workflow to verify that emails, standard comments, fees and reports run correctly. I will then have Jim move the changes to Test.

[2018-10-30 20:05] RikiSjachrani-COM opened #50 "SR-18-0000293 EN ROW - Engineering would like to add to add a new inspection type and possibly Horizontal Drilling (HDD)."
EN ROW - Engineering would like to add to add a new inspection type and possibly Horizontal Drilling (HDD).
The purpose of this change is to better track this type of work and ensure it's done correctly since they've had a number of issues due to this.

[2018-10-30 20:06] RikiSjachrani-COM commented on #50
We are meeting with them on Thursday 11/1

[2018-10-30 20:07] RikiSjachrani-COM opened #51 "SR-18-0000294 Request to add some standard language to ENGROW permits that were issued for horizontal drilling jobs (HDD)."
Request to add some standard language to ENGROW permits that were issued for horizontal drilling jobs (HDD).

Currently there are 2 bullet points under that condition and would like to include a 3rd with the following language:

Drilling route shall follow the proposed route shown on the approved plans submitted under this permit application. Any centerline deviation great than 2” shall require th

[2018-10-30 20:09] RikiSjachrani-COM commented on #51
@ANavaGomez-COM would you mind reaching out to someone on the team to quick QA this for you?

[2018-10-30 20:10] RikiSjachrani-COM opened #52 "SR-18-0000268 EN Accela AMO for mobile inspections"
EN Accela AMO for mobile inspections -
The inspections changes have been working great. Engineering have identified a few changes to improve this process.
1) Sometimes changes are made to the permit which accidentally creates another scheduled inspection, please alter this to not create another inspection if one is already scheduled
2) Alter the Inspection Status Group status "Changes Required" fr

[2018-10-30 20:12] ANavaGomez-COM commented on #51
I don't mind at all. I will ask someone on the team for sure, right away. Thank you.

[2018-10-30 20:12] RikiSjachrani-COM commented on #52
@ChrisHagen-COM once you have the email attachment part figured out, let me know and I'll QA it.

Thanks,

Riki

[2018-10-30 20:14] RikiSjachrani-COM opened #53 "SR-18-0000276 EN Change Holds source"
EN Change Holds source - It was recently discovered that the Planning Parcels Dept_Hold attribute is not being updated anymore and that the Parcel Attribute Dept_Hold should be used. GIS Team would like to remove any reference to the planning parcel layer and then remove it.

To Do
 - [ ] Move changes to Production
 - [ ] Remove Planning Parcels from ELAM service (Work with Aaron)

Specifications

[2018-10-30 20:20] RikiSjachrani-COM commented on #53
EN Change Holds source - It was recently discovered that the Planning Parcels Dept_Hold attribute is not being updated anymore and that the Parcel Attribute Dept_Hold should be used. GIS Team would like to remove any reference to the planning parcel layer and then remove it.

Specifications
Tool:
1) SQL and edits to the APO Load
2) Add Landmark Attribute to the Reference Parcels
3) Update any EMSE

[2018-10-30 20:21] ChrisHagen-COM commented on #52
@RikiSjachrani-COM The code is live on DEV and tested.

Parts 2 & 3 of the request are already pushed up to Production.